<div class="accordion" id="mainParentAccordion">
	<div class="accordion-item" id="accordItem6512335086e4b01ff6a67ff3" data-storage-block-id="6512335086e4b01ff6a67ff3">
		<h2 class="accordion-header" id="accordHeader6512335086e4b01ff6a67ff3" onclick="overviewAccordionClicked('6512335086e4b01ff6a67ff3', $(this).parent())">
			<button class="accordion-button thinAccordion" type="button" data-bs-toggle="collapse" data-bs-target="#accordCollapse6512335086e4b01ff6a67ff3" aria-expanded="true" aria-controls="accordCollapse6512335086e4b01ff6a67ff3">
				<img class="accordion-thumb" src="/api/v1/media/image/for/storageBlock/6512335086e4b01ff6a67ff3" alt="">
				MSS Module test-01
			</button>
		</h2>
		<div id="accordCollapse6512335086e4b01ff6a67ff3" class="accordion-collapse collapse show" aria-labelledby="accordHeader6512335086e4b01ff6a67ff3" data-bs-parent="#mainParentAccordion" style="">
			<div class="accordion-body" id="accordContent6512335086e4b01ff6a67ff3">
				<div class="row">
					<div class="col"></div>
				</div>
				<div class="row storageBlockDetailsRow">
					<div class="col-sm-1"><a href="http://localhost/storage?view=6512335086e4b01ff6a67ff3" class="btn btn-primary"><i class="bi bi-box " "=""></i><span>View</span></a></div>
					<div class="col">Description: <span class="storageBlockDescription">MSS Module test-01. Added by the MSS Controller plugin.</span></div>
				</div>
				<hr>
				<p><i class="bi bi-tag " "=""></i> No inventory items held.</p>
				<hr>
				<h5><i class="bi bi-boxes " "=""></i> Storage Blocks (64):</h5>
				<div class="accordion " id="storageBlockAccord6512335086e4b01ff6a67ff3">
					
					<div class="accordion-item" id="accordItem6512335586e4b01ff6a68071" data-storage-block-id="6512335586e4b01ff6a68071">
						<h2 class="accordion-header " id="accordHeader6512335586e4b01ff6a68071" onclick="overviewAccordionClicked('6512335586e4b01ff6a68071', $(this).parent())">
							<button class="accordion-button thinAccordion collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordCollapse6512335586e4b01ff6a68071" aria-expanded="false" aria-controls="accordCollapse6512335586e4b01ff6a68071">
								<img class="accordion-thumb" src="/api/v1/media/image/for/storageBlock/6512335586e4b01ff6a68071" alt=" image"><span>MSS Module test-01[63]</span></button>
						</h2>
						<div id="accordCollapse6512335586e4b01ff6a68071" class="accordion-collapse collapse" aria-labelledby="accordHeader6512335586e4b01ff6a68071" data-bs-parent="#storageBlockAccord6512335086e4b01ff6a67ff3">
							<div class="accordion-body" id="accordContent6512335586e4b01ff6a68071">Loading...</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>