{#include printouts/mainPrintoutTemplate}
	{#title}{storageBlock.getLabelText()} - Inventory sheet{/title}
	{#body}
		<h1>
			{storageBlock.getLabelText()} - Inventory sheet
		</h1>
		<p>
			Generated {! TODO:: datetime !}
		</p>
		<table class="table table-striped table-bordered table-sm">
		<thead>
		<tr>
			<th>
				#
			</th>
			<th class="imageTableCellHeader">
				Image
			</th>
			<th>
				Item
			</th>
			<th>
				Amount Stored
			</th>
			<th>
				Condition
			</th>
		</tr>
		</thead>
		<tbody>
		{#if itemsInBlock.isEmpty()}
			<tr>
				<td colspan="5" class="text-center">
					<h3>
						No Items Stored
					</h3>
				</td>
			</tr>
			{#else}
				{#for curItem in itemsInBlock}
					{#let curWrapper = curItem.getStoredWrapperForStorage(storageBlock.getId())}
						<tr>
						<td class="text-center">
							{curItem_count}
						</td>
							{#if !curItem.getImageIds().isEmpty()}
						<td class="imageTableCell">
								{#let curImage=imageService.get(curItem.getImageIds().get(0))}
								<img src="data:{curImage.getMimeType()};base64, {curImage.getData()}" alt="Image for item {curItem.getName()}" class="imageTableCellImage">
								{/let}
						</td>
								{#else}
								<td></td>
						{/if}
						<td>
							{curItem.getName()}
						</td>
						<td>{curWrapper.getTotal().getValue()}{curWrapper.getTotal().getUnit().getSymbol()}</td>
						<td></td>
						</tr>
					{/let}
				{/for}
		{/if}
		</tbody>
		<tfoot>
		<tr>
			<th>
				#
			</th>
			<th class="imageTableCellHeader">
				Image
			</th>
			<th>
				Item
			</th>
			<th>
				Amount Stored
			</th>
			<th>
				Condition
			</th>
		</tr>
		</tfoot>
		</table>
	{/body}
{/include}