---
# Bookmarks for OQM
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/bookmarks

- Resources:
    - Open QuarterMaster:
        - abbr: OQM
          href: https://openquartermaster.com/
