---
# services for OQM
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services/

{%- for group, serviceList in services.items() %}
{%- if serviceList %}
- {{group}}:
  {%- for service in serviceList %}
  - {{ service.name }}:
      description: {{ service.description }}
      href: {{ service.url }}
      siteMonitor: {{ service.url }}
      statusStyle: "dot"
  {%- endfor %}
{%- else %}
# Group {{ group }} had no entries
{%- endif %}
{%- endfor %}
