---
title: {{customization.title}}
description: {{customization.description}}
color: slate
favicon: /oqm/static/oqm-icon.svg

layout:
  tab: Core

  {%- for group, serviceList in services.items() %}
  {{group}}:
    tab: {{group}}
    style: row
    columns: 3
    header: false
  {%- endfor %}
  Resources:
    initiallyCollapsed: false

quicklaunch:
  searchDescriptions: true
  hideInternetSearch: true
  showSearchSuggestions: true
  hideVisitURL: false
  provider: {{customization.searchProvider}} # google, duckduckgo, bing, baidu, brave or custom

# Breaks the setup. don't know why.
#disableUpdateCheck: true
