---
title: Open Quartermaster
description: {{infra.homepage.customization.description}}
color: slate
#favicon: #TODO

layout:
  tab: Core

  Core:
    tab: Core
    style: row
    columns: 3
    header: false
  Plugins:
    tab: Plugins
    style: row
    columns: 3
    header: false
  Metrics:
    tab: Metrics
    style: row
    columns: 3
    header: false
  Infrastructure:
    tab: Infrastructure
    style: row
    columns: 3
    header: false
  Resources:
    initiallyCollapsed: true

quicklaunch:
  searchDescriptions: true
  hideInternetSearch: true
  showSearchSuggestions: true
  hideVisitURL: false
  # TODO:: set in config
  provider: duckduckgo # google, duckduckgo, bing, baidu, brave or custom



# Breaks the setup. don't know why.
#disableUpdateCheck: true
