---
# widgets for OQM
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/info-widgets/

- logo:
    # TODO:: get from local
    # TODO:: use icon
    icon: https://openquartermaster.com/resources/media/logo/Quarter%20Master%20Main%20Logo.svg

- greeting:
    text_size: xl
    text: Open QuarterMaster

- resources:
    cpu: true
    memory: true
    disk: /

# TODO:: search on base station
- search:
    # TODO:: set in config
    provider: duckduckgo
    target: _blank
