---
# widgets for OQM
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/info-widgets/

- logo:
    icon: /oqm/media/oqm-icon.svg

- greeting:
    text_size: xl
    text: Open QuarterMaster

{% if customization.widgets.resources %}
- resources:
    cpu: true
    memory: true
    # TODO:: figure out how to securely measure this if data is set to a different disk/mount (could mount data dir, but don't want everything readable by this app)
    disk: /
{% endif  %}

{% if customization.widgets.search %}
# TODO:: search on base station
- search:
    provider: {{customization.searchProvider}}
    target: _blank
{% endif  %}
