# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
#
# Core components
#

  # Core API
  - package-ecosystem: "gradle"
    directory: "/software/core/oqm-core-api"
    target-branch: "development"
    schedule:
      interval: "weekly"
      day: "tuesday"
    labels:
      - "area-dependencies"
      - "project-core-api"
  - package-ecosystem: "docker"
    directory: "/software/core/oqm-core-api/src/main/docker"
    target-branch: "development"
    schedule:
      interval: "weekly"
      day: "tuesday"
    labels:
      - "area-dependencies"
      - "project-core-api"

  # Base Station
  - package-ecosystem: "gradle"
    directory: "/software/core/oqm-core-base-station"
    target-branch: "development"
    schedule:
      interval: "weekly"
      day: "tuesday"
    labels:
      - "area-dependencies"
      - "project-core-baseStation"
  - package-ecosystem: "docker"
    directory: "/software/core/oqm-core-base-station"
    target-branch: "development"
    schedule:
      interval: "weekly"
      day: "tuesday"
    labels:
      - "area-dependencies"
      - "project-core-baseStation"

#
# Libraries
#

  # Core API Lib Quarkus
  - package-ecosystem: "gradle"
    directory: "/software/libs/core-api-lib-quarkus"
    target-branch: "development"
    schedule:
      interval: "weekly"
      day: "tuesday"
    labels:
      - "area-dependencies"

#
# Plugins
#

  # External Item Search
  - package-ecosystem: "gradle"
    directory: "/software/plugins/external-item-search"
    target-branch: "development"
    schedule:
      interval: "weekly"
      day: "tuesday"
    labels:
      - "area-dependencies"
  # Mss Controller
  - package-ecosystem: "gradle"
    directory: "/software/plugins/mss-controller"
    target-branch: "development"
    schedule:
      interval: "weekly"
      day: "tuesday"
    labels:
      - "area-dependencies"

  # Demo
#  - package-ecosystem: "gradle"
#    directory: "/software/plugins/open-qm-plugin-demo"
#    target-branch: "dev"
#    schedule:
#      interval: "weekly"
#    labels:
#      - "area-dependencies"
#      - "project-plugins"

