# Service file for running an instance of MongoDB.
#  Author: Greg Stewart
#  https://www.freedesktop.org/software/systemd/man/systemd.service.html
#
#  Mongo tags: https://hub.docker.com/_/mongo?tab=tags
#
#  TODO:: how to update image used?

[Unit]
Description=Mongo server for Open Quartermaster. Version 1.0, using Jaeger all-in-one tagged to "1".
Documentation=https://github.com/Epic-Breakfast-Productions/OpenQuarterMaster/tree/main/software/Infrastructure
After=docker.service
Wants=network-online.target docker.socket
Requires=docker.socket

[Service]
Type=simple
Restart=always
ExecStartPre=/bin/bash -c "/usr/bin/docker container inspect oqm_mongo 2> /dev/null || /usr/bin/docker run --name oqm_mongo -p=27017:27017 -v /data/db/oqm_mongo/:/data/db -d mongo:5"
ExecStart=/usr/bin/docker start -a oqm_mongo
ExecStop=/usr/bin/docker stop -t 10 oqm_mongo

[Install]
WantedBy=multi-user.target
