{#include printouts/mainPrintoutTemplate generateDatetime=generateDatetime}
	{#icon}{#icons/storageBlock /}{/icon}
	{#title}{storageBlock.get("labelText").asText()} - Inventory sheet{/title}
	{#body}
		<h1>
			{#icons/storageBlock /} {storageBlock.get("labelText").asText()} - Inventory sheet
		</h1>

		{!<p>Total Items: {searchResult.get("numResultsForEntireQuery").asText()}</p> TODO!}
		
		{!<p>!}
			{!TODO:: table of contents!}
		{!</p>!}
		
		{#let bulkItemIt=cdi:PrintoutDataUtilService.getItemInBlockResultsIterator(auth, db, storageBlock.get("id").asText(), 'BULK')
		      amtListItemIt=cdi:PrintoutDataUtilService.getItemInBlockResultsIterator(auth, db, storageBlock.get("id").asText(), 'AMOUNT_LIST')
		      uniqueMultiItemIt=cdi:PrintoutDataUtilService.getItemInBlockResultsIterator(auth, db, storageBlock.get("id").asText(), 'UNIQUE_MULTI')
		      uniqueSingleItemIt=cdi:PrintoutDataUtilService.getItemInBlockResultsIterator(auth, db, storageBlock.get("id").asText(), 'UNIQUE_SINGLE')
		}
		<div class="section">
			<h2>
				{#icons/items /} Items in Block
			</h2>
			
			{#printouts/storageBlockInventorySheet/itemTables/bulkStoredTable auth=auth db=db itemSearchIt=bulkItemIt storageBlock=storageBlock options=options /}
			{#printouts/storageBlockInventorySheet/itemTables/amountListStoredTable auth=auth db=db itemSearchIt=amtListItemIt storageBlock=storageBlock options=options /}
			{#printouts/storageBlockInventorySheet/itemTables/uniqueSingleStoredTable auth=auth db=db itemSearchIt=uniqueSingleItemIt storageBlock=storageBlock options=options /}
			{#printouts/storageBlockInventorySheet/itemTables/uniqueMultiStoredTable auth=auth db=db itemSearchIt=uniqueMultiItemIt storageBlock=storageBlock options=options /}
		
		
		</div> <!-- items in block section -->
		{/let}
	{/body}
{/include}