{!
Inputs:
    - containerId - the id to give the container where history events go
!}
<div class="accordion col" id="{containerId}Accordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="{containerId}AccordionHeading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{containerId}AccordionCollapse" aria-controls="{containerId}AccordionCollapse">
                History
            </button>
        </h2>
        <div id="{containerId}AccordionCollapse" class="accordion-collapse collapse" aria-labelledby="{containerId}AccordionHeading" data-bs-parent="#{containerId}Accordion">
            <div class="accordion-body table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>User</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody id="{containerId}"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>