{!
Inputs:
    - containerId - the id to give the container where history events go
    - objectUrl - the url of the object (w/o id) to get history for
!}
<div class="accordion col" id="{containerId}Accordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="{containerId}AccordionHeading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{containerId}AccordionCollapse" aria-controls="{containerId}AccordionCollapse">
                {#icons/history addSpace=true}{/icons/history} History
            </button>
        </h2>
        <div id="{containerId}AccordionCollapse" class="accordion-collapse collapse" aria-labelledby="{containerId}AccordionHeading" data-bs-parent="#{containerId}Accordion">
            <div class="accordion-body table-responsive">
                <div class="accordion" id="{containerId}SearchAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="{containerId}SearchAccordionHeading">
                            <button class="accordion-button collapsed thinAccordion" type="button" data-bs-toggle="collapse" data-bs-target="#{containerId}SearchAccordionCollapse" aria-controls="{containerId}SearchAccordionCollapse">
                                {#icons/search}{/icons/search} Search
                            </button>
                        </h2>
                        <div id="{containerId}SearchAccordionCollapse" class="accordion-collapse collapse" aria-labelledby="{containerId}SearchAccordionHeading" data-bs-parent="#{containerId}SearchAccordion">
                            <div class="accordion-body table-responsive">
                                {#include tags/objView/history/objHistorySearchForm id=id objectUrl=objectUrl }
                                {/include}
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>User</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody id="{containerId}">
                    {#objView/objHistoryViewRows}{/objView/objHistoryViewRows}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>