{!
Inputs:
    - event - the HistoryEvent object we are dealing with
    - userService - the UserService to use to get userIds
!}
<tr>
    <td>
        {event.getTimestamp()}
    </td>
    <td>
        {#if event.getEntityId() != null}
            {#let entity=interactingEntityService.getFromHistoryEvent(event)}
                {entity.getInteractingEntityType()} / {entity.getName()}
            {/let}
        {/if}
    </td>
    <td>
        {event.getType()}
    </td>
    <td>
        {! TODO:: other infos !}
    </td>
</tr>