
html, body, div, p, table, ul, ol {
	font-family: "Helvetica", sans-serif;
}

table {
	width: 100%;
	border: black 2px solid;
	border-radius: 4px;
}

td, th {
	margin: 0.25px;
	border: black 1px solid;
	padding: 5px 2px;
}

th {
	background-color: #abc78e;
}

.text-center {
	text-align: center;
}

.imageTableCellHeader {
	width: 50px;
}

.imageTableCell {
	width: 50px;
	max-width: 50px;
	padding: 0;
}

.imageTableCellImage {
	width: 100%;
	margin: 0;
	padding: 0;
}

.tableTitle {
	line-height: 18px;
	margin-bottom: 1px;
	padding-bottom: 1px;
}

.section {
	page-break-after: always;
}