<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Redirecting...</title>
	<link rel="stylesheet" href="/lib/bootstrap/5.2.3/bootswatch.yeti.min.css">
	<script src="/lib/js-cookie-3.0.1/js.cookie.min.js"></script>
	<script type="text/javascript">
		function submitForm() {
			document.getElementById("redirectForm").submit();
		}
		
		function handleLoad(){
			{#insert extraJs}{/}
			
			submitForm();
		}
	</script>
</head>
<body onload="handleLoad()">
<form id="redirectForm" action="{#insert redirectTo}/{/}" method="get">
	<h1>
		Redirecting...
		<div class="spinner-border" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</h1>
	<button type="submit" class="btn btn-link">
		Click here if the redirection does not happen quickly
	</button>
	<input type="hidden" name="messageType" value="{messageType}">
	<input type="hidden" name="messageHeading" value="{messageHeading}">
	<input type="hidden" name="message" value="{message}">
	{#if additionalQueries??}
	{#for query in additionalQueries}
		<input type="hidden" name="{query.key()}" value="{query.value()}">
	{/for}
	{/if}
</form>
</body>
</html>