{#include webui/mainWebPageTemplate navbar="full" showTitle=true title="Server Administration" page='serverInfo'}
    {#pageStyle}
    
    {/pageStyle}
    {#pageContent}
        <div class="row">
            <div class="col">
                TODO:
                
                - currency info
                - external item search providers
            
            </div>
        </div>
    
    {/pageContent}
    {#pageScript}
        <script>
        
        </script>
    {/pageScript}
{/include}