# Service file for running an instance of the Open QuarterMaster Base Station.
#  Author: Greg Stewart
#  https://www.freedesktop.org/software/systemd/man/systemd.service.html
#
#  OQM Base Station tags: https://hub.docker.com/repository/docker/ebprod/open-qm-base-station/tags
#
[Unit]
Description=Open QuarterMaster Depot server for Open Quartermaster. Version ${version}.
Documentation=https://github.com/Epic-Breakfast-Productions/OpenQuarterMaster/tree/main/software/oqm-depot
After=docker.service
Wants=network-online.target
Requires=docker.socket

[Service]
Type=simple
Restart=always
TimeoutSec=5m
# Setup operating variables
Environment="CONTAINER_NAME=oqm-core-depot"
Environment="IMAGE_NAME=ebprod/oqm-core-depot"
Environment="IMAGE_VERSION=${version}"

ExecStartPre=/bin/bash -c "oqm-captain --ensure-container-setup"
ExecStartPre=/bin/bash -c "oqm-captain --ensure-certs-present"
# Ensure previous runs gone
ExecStartPre=/bin/bash -c "/usr/bin/docker stop -t 10 $CONTAINER_NAME || echo 'Could not stop depot container'"
ExecStartPre=/bin/bash -c "/usr/bin/docker rm $CONTAINER_NAME || echo 'Could not remove depot container'"

ExecStartPre=/bin/bash -c "mkdir -p /tmp/oqm/serviceConfig/core/depot/files/"
ExecStartPre=/bin/bash -c "cp \"$(oqm-config -g cert.certs.privateKey)\" /tmp/oqm/serviceConfig/core/depot/files/systemPrivateKey.pem"
ExecStartPre=/bin/bash -c "cp \"$(oqm-config -g cert.certs.systemCert)\" /tmp/oqm/serviceConfig/core/depot/files/systemCert.crt"
ExecStartPre=/bin/bash -c "chown oqm:oqm /tmp/oqm/serviceConfig/core/depot/files"
ExecStartPre=/bin/bash -c "chown -R oqm:oqm /tmp/oqm/serviceConfig/core/depot/files"
ExecStartPre=/bin/bash -c "chmod 644 -R /tmp/oqm/serviceConfig/core/depot/files"
ExecStartPre=/bin/bash -c "chmod 755 /tmp/oqm/serviceConfig/core/depot/files"
# Pull image as separate task
ExecStartPre=/bin/bash -c "/usr/bin/docker pull $IMAGE_NAME:$IMAGE_VERSION || echo 'Could not pull image.'"
# Run Base Station
ExecStart=/bin/bash -c "/usr/bin/docker run --rm --name $CONTAINER_NAME \
                                        --network=oqm-internal \
                                        -v /etc/oqm/ui.d/:/etc/oqm/ui.d/:ro \
                                        -v /tmp/oqm/serviceConfig/core/depot/files/:/etc/oqm/certs/:ro \
                                        $IMAGE_NAME:$IMAGE_VERSION"
# Ensure is up
ExecStartPost=/bin/bash -c "running=\"false\"; \
                            while [ \"$running\" != \"true\" ]; do \
                                status=\"$(docker container inspect -f '{{.State.Running}}' $CONTAINER_NAME 2> /dev/null)\"; \
                                if [ \"$status\" == \"true\" ]; then \
                                    echo \"Container running!\"; \
                                    running=\"true\"; \
                                    continue; \
                                fi; \
                                sleep 0.05s; \
                                if [ $SECONDS -gt 30 ]; then \
                                    echo \"Container not running after 30 seconds!\"; \
                                    exit 1; \
                                fi; \
                            done; \
                            "

# Remove from docker
ExecStop=/bin/bash -c "/usr/bin/docker stop -t 10 $CONTAINER_NAME || echo 'Could not stop base station container'"
ExecStopPost=/bin/bash -c "/usr/bin/docker rm $CONTAINER_NAME || echo 'Could not remove base station container'"

[Install]
WantedBy=multi-user.target
