global
stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
log stdout format raw local0 info

defaults
mode http
timeout client 10s
timeout connect 5s
timeout server 10s
timeout http-request 10s
log global

frontend stats
bind *:8404
stats enable
stats uri /
stats refresh 10s

frontend myfrontend
bind :80
use_backend infra-jaeger if { path /infra/jaeger } || { path_beg /infra/jaeger/ }


backend infra-jaeger
http-request replace-path /infra/jaeger(/)?(.*) \1
server s1 host.docker.internal:8090 check
