# Service file for running an instance of Jaeger.
#  Author: Greg Stewart
#  https://www.freedesktop.org/software/systemd/man/systemd.service.html
#
#  Jaeger tags: https://hub.docker.com/r/jaegertracing/all-in-one/tags
#
#  TODO:: how to update image used?
#
# TODO:: connect to prometheus: https://github.com/open-telemetry/opentelemetry-demo/blob/main/docker-compose.yml#L595

[Unit]
Description=Jaeger server for Open Quartermaster. Version ${version}, using Jaeger all-in-one tagged to "1".
Documentation=https://github.com/Epic-Breakfast-Productions/OpenQuarterMaster/tree/main/software/Infrastructure
After=docker.service
Wants=network-online.target docker.socket
Requires=docker.socket

[Service]
Type=simple
Restart=always
ExecStartPre=/bin/bash -c "/usr/bin/docker container inspect oqm_jaeger 2> /dev/null || /usr/bin/docker run --name oqm_jaeger -p 8090:16686 -p 8091:14268 -p 8096:4317 -e COLLECTOR_OTLP_ENABLED=true -d jaegertracing/all-in-one:1"
ExecStart=/usr/bin/docker start -a oqm_jaeger
ExecStop=/usr/bin/docker stop -t 10 oqm_jaeger

[Install]
WantedBy=multi-user.target
