lombok.accessors.chain=true
lombok.addLombokGeneratedAnnotation = true
#lombok.addJavaxGeneratedAnnotation = true

# lombok.builder.className = Builder 
# NOTE: was removed to fix Issue #1033
# This setting conflicts with @SuperBuilder on generic class hierarchies,
# causing intermittent "wrong number of type arguments" compilation errors.
# See:
# - https://github.com/projectlombok/lombok/issues/2647
# - https://github.com/projectlombok/lombok/issues/3911 (issure reporting this case)
