# Service file for running an instance of Grafana.
#  Author: Greg Stewart
#  https://www.freedesktop.org/software/systemd/man/systemd.service.html
#
#  Grafana tags: https://hub.docker.com/r/grafana/grafana-oss
#
# TODO:: figure out better username/password situation
# TODO:: figure out how to configure, configure with something that makes sense

[Unit]
Description=Grafana server for Open Quartermaster. Version ${version}, using Grafana tagged to "latest".
Documentation=https://github.com/Epic-Breakfast-Productions/OpenQuarterMaster/tree/main/software/Infrastructure
After=docker.service
Wants=network-online.target docker.socket
Requires=docker.socket

[Service]
Type=simple
Restart=always
ExecStartPre=/bin/bash -c "oqm-captain --ensure-container-setup"
# TODO:: rework to match others
ExecStartPre=/bin/bash -c "/usr/bin/docker container inspect oqm-infra-grafana 2> /dev/null || /usr/bin/docker run \
                                                                                              --name oqm-infra-grafana \
                                                                                              -p 8110:3000 \
                                                                                              --add-host host.docker.internal:host-gateway \
                                                                                              grafana/grafana-oss:latest"
ExecStart=/usr/bin/docker start -a oqm-infra-grafana
ExecStop=/usr/bin/docker stop -t 10 oqm-infra-grafana

[Install]
WantedBy=multi-user.target
