#topOqmLogo{
	padding-top: 0;
	padding-bottom: 0;
	height:42px;
	width: 103px;
}

.top-nav {
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 2px;
}


.bordered {
	border: 1px solid black;
}

.numPerPageInput {
	width: 25px;
}

.imageViewImage {
	width: 350px;
}

.imageSearchResult:hover {
	box-shadow: 30px 30px 50px grey inset;
	cursor: pointer;
}

.img-75 {
	width: 375px;
}

.img-50 {
	width: 250px;
}

.img-25 {
	width: 125px;
}

.selectedImage {
	width: 75px;
}

.searchResultImageCol {
	width: 3em;
}

.searchResultImage {
	height: 3em;
}

.storageBlockResultRow {
	height: 3em;
}

.carousel {
	text-shadow: -1px 1px 0 #000,
	1px 1px 0 #000,
	1px -1px 0 #000;
	/*-1px -1px 0 #000;*/
}


.thinAccordion {
	padding: 3px;
}

.accordion-thumb {
	height: 40px;
	width: 40px;
	display: inline;
	margin-right: 5px;
	border-radius: 2px;
	/*border: 1px solid black;*/
}

.badge {
	padding-left: 8.4px;
	padding-right: 8.4px;
}

.searchResultsContainer{
	padding-top: 2px;
	padding-bottom: 2px;
}

.itemCatBadge {
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #8B8B8B;
}

.itemCatBadgeImage {
	max-height: 30px;
	margin-right: 3px;
}

.extProductResultCarousel{
	aspect-ratio: 1 / 1;
}

/* TODO:: figure out how to make controls actually visible */
.carousel-control-prev .carousel-control-prev {
	/*color: #1b1b1b !important;*/
	/*background-color: #1b1b1b;*/
}

.barcodeViewImg {
	max-width: 100%;
	border: 2px solid white;
}


/*
Overtype tweaks
 */

.overtype-toolbar {
	border-bottom: 1px solid black !important;
}

.overtype-input {
	padding-top: 4px !important;
}

.overtype-container {
	border: 1px solid black !important;
}

.codeScannerDiv {
	background-color: rgb(152, 152, 152);
}