{@tech.ebp.oqm.core.baseStation.model.UserInfo userInfo}
{! @com.gjs.taskTimekeeper.webServer.server.config.ServerInfoBean serverInfo !}
{!
Main webpage template

Ingests:
- page - Required if showing navbar.
- title - parameter in include, the title of the page
- styleSheets - inserted value, extra references to style sheets
- pageStyle - inserted value, extra page-specific css
- pageContent - inserted value, the content of the page
- scripts - inserted value, extra references to js scripts
- pageScript - inserted value, extra page-specific scripts
- showNavbar* - parameter in include, shows the navbar or not
- pageLoadTime - the string time that the page was loaded
!}
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="shortcut icon" href="{rootPrefix}/favicon.ico"/>
	<title>{#if title??}{title} - {/if}{config:['service.nameFull']}</title>
	
	<!-- CSS -->
	<link href="{rootPrefix}/lib/bootstrap/5.3.8/bootswatch.yeti.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{rootPrefix}/lib/bootstrap-icons/1.13.1/bootstrap-icons.min.css">
	<link rel="stylesheet" href="{rootPrefix}/lib/spin.js/spin.css">
	<link rel="stylesheet" href="{rootPrefix}/lib/dselect/1.0.4/dist/css/dselect.min.css">
	<link rel="stylesheet" href="{rootPrefix}/res/css/bootstrap-adjust.css">
	<link rel="stylesheet" href="{rootPrefix}/res/css/main.css">
	{#insert styleSheets}{/}
	<style>
		{#insert pageStyle} /* No page css */
		{/}
	</style>
	<!--  At top in order to prevent flashing -->
	<script src="{rootPrefix}/res/js/theme.js"></script>
</head>
<body class="min-vh-100 vstack" data-csrft="{inject:csrf.token}" data-csrfh="{inject:csrf.headerName}">
<span id="oqmPageInfo" data-page-initted="false"></span>

<!-- nav here -->
{#if navbar == "full" || navbar == "toLogin"}
{! https://stackoverflow.com/questions/19733447/bootstrap-navbar-with-left-center-or-right-aligned-items !}
<nav class="navbar navbar-expand-lg bg-light top-nav mb-2" data-bs-theme="light" id="top-nav">
	{#if navbar == "full"}
	<div class="container-fluid">
		<a class="navbar-brand p-0" href="{rootPrefix}/overview">
			<img src="{rootPrefix}/media/logo.svg" alt=""  id="topOqmLogo">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavBar"
				aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse navbar-expand-md" id="mainNavBar">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<form class="d-flex me-auto" id="navDbSelectForm">
						<div class="input-group">
							<span class="input-group-text" id="" title="Database Selected">{#icons/database}{/icons/database}</span>
							<!-- Selected db: {selectedOqmDb} -->
							<select class="form-select" id="navDatabaseSelector" aria-label="Database Selection" style="max-width: 140px;" onchange="OqmDbUtils.newDbSelected();">
								{#for curOqmDb in oqmDbs}
									{#let curId=curOqmDb.get("id").asText()}
										<option value="{curId}" {#if curId.equals(selectedOqmDb)}selected{/if}>{curOqmDb.get("displayName").asText()}</option>
									{/let}
								{/for}
							</select>
						</div>
					</form>
				</li>
				<li class="nav-item">
					<a class="nav-link {#if page is 'overview'}active{/if}" href="{rootPrefix}/overview">
						{#icons/pageIcon page='overview'}{/icons/pageIcon} Overview
						{#if page is 'overview'}
						<span class="visually-hidden">(current)</span>
						{/if}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {#if page is 'storage'}active{/if}" href="{rootPrefix}/storage">
						{#icons/pageIcon page='storage'}{/icons/pageIcon} Storage
						{#if page is 'storage'}
						<span class="visually-hidden">(current)</span>
						{/if}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link pe-0 {#if page is 'items'}active{/if}" href="{rootPrefix}/items">
						{#icons/pageIcon page='items'}{/icons/pageIcon} Items
						{#if page is 'items'}
						<span class="visually-hidden">(current)</span>
						{/if}
					</a>
				</li>
				
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle ps-0 {#if page is 'itemLists' || page is 'categories' || page is 'itemCheckout' }active{/if}" data-bs-toggle="dropdown" href="#" role="button"
							aria-haspopup="true" aria-expanded="false">&nbsp;</a>
					<div class="dropdown-menu">
						<!-- Not ready yet
						<a class="dropdown-item {#if page is 'itemLists'}active{/if}" href="/itemLists">
							{#icons/pageIcon page='itemLists'}{/icons/pageIcon} Item Lists
							{#if page is 'itemLists'}
							<span class="visually-hidden">(current)</span>
							{/if}
						</a>
						<a class="dropdown-item" href="/itemLists#add">
							{#icons/add}{/icons/add} New Item List
						</a>
						-->
						<a class="dropdown-item {#if page is 'categories'}active{/if}" href="{rootPrefix}/itemCategories">
							{#icons/categories}{/icons/categories} Categories
							{#if page is 'categories'}
							<span class="visually-hidden">(current)</span>
							{/if}
						</a>
						{#if userInfo.getRoles().contains('inventoryEdit')}
						<a class="dropdown-item {#if page is 'itemCheckout'}active{/if}" href="{rootPrefix}/itemCheckout">
							{#icons/checkinout}{/icons/checkinout} Checkouts
							{#if page is 'itemCheckout'}
							<span class="visually-hidden">(current)</span>
							{/if}
						</a>
						{/if}
						<a class="dropdown-item {#if page is 'idGenerators'}active{/if}" href="{rootPrefix}/idGenerators">
							{#icons/idGenerators /} Id Generators
							{#if page is 'uniqueIdGenerators'}
							<span class="visually-hidden">(current)</span>
							{/if}
						</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle {#if page is 'images' || page is 'codes' || page is 'files' || page is 'help' }active{/if}" data-bs-toggle="dropdown" href="#" role="button"
							aria-haspopup="true" aria-expanded="false">
						{#icons/icon icon='infinity'}{/icons/icon} Other</a>
					<div class="dropdown-menu">
						<a class="dropdown-item {#if page is 'images'}active{/if}" href="{rootPrefix}/images">
							{#icons/pageIcon page='images'}{/icons/pageIcon} Images
							{#if page is 'images'}
							<span class="visually-hidden">(current)</span>
							{/if}
						</a>
						<a class="dropdown-item {#if page is 'files'}active{/if}" href="{rootPrefix}/files">
							{#icons/pageIcon page='files'}{/icons/pageIcon} Files
							{#if page is 'files'}
							<span class="visually-hidden">(current)</span>
							{/if}
						</a>
						<a class="dropdown-item {#if page is 'codes'}active{/if}" href="{rootPrefix}/codes">
							{#icons/pageIcon page='codes'}{/icons/pageIcon} QR &amp; Bar Code Generator
							{#if page is 'codes'}
							<span class="visually-hidden">(current)</span>
							{/if}
						</a>
						<a class="dropdown-item {#if page is 'help'}active{/if}" href="{rootPrefix}/help">
							{#icons/pageIcon page='help'}{/icons/pageIcon} Help & User Guide
							{#if page is 'help'}
							<span class="visually-hidden">(current)</span>
							{/if}
						</a>
					</div>
				</li>
			</ul>
		
			<form class="d-flex me-auto" method="get" action="{rootPrefix}/items" id="navSearchForm">
				<div class="input-group">
					<input class="form-control" id="navSearchInput" type="text" placeholder="Search" name="name" style="max-width:150px;">
					<button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="navSearchTypeSelect">{#icons/items}{/icons/items}</button>
					<ul class="dropdown-menu dropdown-menu-end">
						<li><a class="dropdown-item" href="#" onclick="updateNavSearchDestination('{rootPrefix}/items', Icons.items, 'name')">{#icons/items}{/icons/items} Items</a></li>
						<li><a class="dropdown-item" href="#" onclick="updateNavSearchDestination('{rootPrefix}/storage', Icons.storageBlocks, 'labelOrNickname')">{#icons/storageBlocks}{/icons/storageBlocks} Storage Blocks</a></li>
					</ul>
					<button class="btn btn-outline-dark" type="submit">{#icons/search}{/icons/search}</button>
				</div>
			</form>
			<ul class="navbar-nav mb-auto">
				{#if config:['runningInfo.depotUri'] != " "}
				<li class="nav-item">
					<a class="nav-link" href="{config:['runningInfo.depotUri']}">
						{#icons/icon icon='box-arrow-in-up-left'}{/icons/icon} Back to Depot
					</a>
				</li>
				{/if}
				<li class="nav-item dropstart">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						{#icons/user}{/icons/user}
						<span id="userNameDisplay" data-userId="{userInfo.getId()}">{userInfo.getName()}</span></a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{rootPrefix}/you" id="youLink">
							{#icons/you}{/icons/you} You
						</a>
						<a class="dropdown-item" href="{config:['service.auth.userSettingsUrl']}" id="youEditLink" target="_blank">
							{#icons/edit}{/icons/edit} Account Settings
						</a>
					{#if userInfo.getRoles().contains('userAdmin') || userInfo.getRoles().contains('inventoryAdmin')}
					<div class="dropdown-divider"></div>
					{/if}
					{#if userInfo.getRoles().contains('userAdmin')}
					<a class="dropdown-item" href="{rootPrefix}/userAdmin" id="userAdminLink">
						{#icons/userAdmin}{/icons/userAdmin} User Administration
					</a>
					{/if}
					{#if userInfo.getRoles().contains('inventoryAdmin')}
					<a class="dropdown-item" href="{rootPrefix}/inventoryAdmin" id="inventoryAdminLink">
						{#icons/inventoryAdmin}{/icons/inventoryAdmin} Inventory Admin
					</a>
					{/if}
					<button class="btn-link dropdown-item" id="copyJwtButton" data-token="{userToken}" onclick="navigator.clipboard.writeText(this.dataset.token);">
						{#icons/copy}{/icons/copy} Copy Token
					</button>
					<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{rootPrefix}{config:['quarkus.oidc.logout.path']}" id="logoutButton">
							{#icons/icon icon='door-closed'}{/icons/icon} Logout
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	{#else if navbar == "toLogin"}
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<img src="{rootPrefix}/media/logo.svg" alt="" height="40" width="97" id="topLogo">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavBar"
			aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="mainNavBar">
			<ul class="navbar-nav me-auto">
				{#if config:['runningInfo.depotUri'] != " "}
				<li class="nav-item">
					<a class="nav-link" href="{config:['runningInfo.depotUri']}">
						{#icons/icon icon='box-arrow-in-up-left'}{/icons/icon} Back to Depot
					</a>
				</li>
				{/if}
				<li class="nav-item">
					<a class="nav-link" href="{rootPrefix}/">
						{#icons/icon icon='door-open'}{/icons/icon} Login
					</a>
				</li>
			</ul>
		
		</div>
	</div>
	{/if}
</nav>
{/if}

<div id="mainContainer" class="container flex-grow-1">
	{#if showTitle}
		<h1>{#icons/pageIcon page=page addSpace=true}{/icons/pageIcon} {title}</h1>
		{#insert additionalTitleContent}{/}
		
		<div id="messageDiv">
		</div>
		<hr/>
	{#else}
		<div id="messageDiv">
		</div>
	{/if}
	
	<main class="" role="main">
		{#insert pageContent}<h1>No body!</h1>{/}
	</main>
</div>

<footer id="footer" class="container mb-3" role="contentinfo">
	<hr/>
	<div class="row">
		<div class="col-sm-4">
			<span class="h5">Open QuarterMaster Base Station</span><br/>
			Version <a href="{config:['service.gitLink']}" target="_blank">{config:['service.version']}</a>, &copy; 2026 <a href="https://epic-breakfast-productions.tech/" target="_blank">EBP <img src="{rootPrefix}/media/EBP-logo-icon.svg" style="max-height:1.2em;" alt="EBP Logo"/></a><br/>
			Released under the <a href="https://github.com/Epic-Breakfast-Productions/OpenQuarterMaster/blob/main/LICENSE" target="_blank">GPL v3.0 License</a><br/>
			<div class="dropup color-modes" id="theme-picker">
				<button class="btn btn-link p-0 text-decoration-none dropdown-toggle"
						id="bd-theme"
						type="button"
						aria-expanded="false"
						data-bs-toggle="dropdown"
						data-bs-display="static">
					<span class="theme-icon-active">
						{#icons/themeAuto addSpace=true}{/icons/themeAuto}
					</span>
							<span id="bd-theme-text">
					Toggle theme
					</span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="bd-theme" style="--bs-dropdown-min-width: 8rem;">
					<li>
						<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light">
							<span class="theme-icon">
								{#icons/themeLight addSpace=true}{/icons/themeLight}
							</span>
							Light
						</button>
					</li>
					<li>
						<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">
							<span class="theme-icon">
								{#icons/themeDark addSpace=true}{/icons/themeDark}
							</span>
							Dark
						</button>
					</li>
					<li>
						<button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto">
							<span class="theme-icon">
								{#icons/themeAuto addSpace=true}{/icons/themeAuto}
							</span>
							Auto
						</button>
					</li>
					<li style=" height: 5px;">
						<button type="button" class="dropdown-item d-flex align-items-center" style="font-size: 0.15em; height: 5px;" onclick="if(typeof RealDarkMode !== 'undefined'){ RealDarkMode.realDarkMode();}else{ script=document.createElement('script');script.src = '/res/js/realDarkMode.js';document.head.appendChild(script);}">
							<span class="theme-icon">
								{#icons/themeDark addSpace=true}{/icons/themeDark}
							</span>
							Really Dark
						</button>
					</li>
				</ul>
			</div>
			<a href="{rootPrefix}/help">{#icons/help /} Help & User Guide</a><br />
			<small class="fw-lighter fst-italic text-muted">
				<div class="d-grid gap-2">
					<button class="btn btn-outline-success btn-sm" type="button" data-bs-toggle="collapse"
							data-bs-target="#pageLoadInfoCollapse" aria-expanded="false"
							aria-controls="pageLoadInfoCollapse">
						Page Loaded: <span id="pageLoadTimestamp">{cdi:DateTimeService.formatForUi()}</span>
						(Server time)
					</button>
				</div>
				<div class="collapse" id="pageLoadInfoCollapse">
					<div class="card card-body">
						Service id: <code class="user-select-all"
								id="traceServiceName">{config:['quarkus.application.name']}</code><br/>
						Trace id: <code class="user-select-all" id="traceId">{traceId}</code>
						<!-- TODO:: link to Jaeger? -->
					</div>
				</div>
			</small>
		</div>
		<div id="serverInfo" class="col-sm-4">
			{#if config:['service.runBy.logo'] != " "}
				<img src="/media/runBy/logo" style="float:right; max-width: 30%;">
			{/if}
			{#if config:['service.runBy.name'] != " "}
				<span class="h5">Run by:</span><br/>
				{config:['service.runBy.name']}
			{/if}
			<br/>
			{#if config:['service.runBy.email'] != " " || config:['service.runBy.phone'] != " " || config:['service.runBy.website'] != " "}
				<span class="h6">Contact Info:</span><br/>
				{#if config:['service.runBy.email'] != " "}<a href="mailto:{config:['service.runBy.email']}">{config:['service.runBy.email']}</a>
					<br/>{/if}
				{#if config:['service.runBy.phone'] != " "}<a href="tel:{config:['service.runBy.phone']}">{config:['service.runBy.phone']}</a>
					<br/>{/if}
				{#if config:['service.runBy.website'] != " "}<a href="{config:['service.runBy.website']}">{config:['service.runBy.website']}</a>
					<br/>{/if}
			{/if}
		</div>
		<div class="col-sm-4">
			{config:['service.runBy.motd']}
		</div>
	</div>
</footer>


<!-- Modals -->
{#insert modals}{/}

<!-- scripts -->
<script src="{rootPrefix}/webjars/jquery/3.7.1/jquery.min.js"></script>
<script src="{rootPrefix}/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js"></script>
<script src="{rootPrefix}/lib/luxon/3.3.0/luxon.min.js"></script>
<script src="{rootPrefix}/lib/js-cookie/3.0.5/js.cookie.min.js"></script>
<script src="{rootPrefix}/lib/spin.js/spin.umd.js"></script>
<script src="{rootPrefix}/lib/dselect/1.0.4/dist/js/dselect.js"></script>
<script src="{rootPrefix}/lib/DOMPurify/3.3.1/DOMPurify.min.js"></script>
<script src="{rootPrefix}/lib/Marked/17.0.1/marked.min.js"></script>
<script src="{rootPrefix}/res/js/Markdown.js"></script>
<script src="{rootPrefix}/res/js/constants.js"></script>
<script src="{rootPrefix}/res/js/main.js"></script>
<script src="{rootPrefix}/res/js/spinnerHelpers.js"></script>
<script src="{rootPrefix}/res/js/getParamUtils.js"></script>
<script src="{rootPrefix}/res/js/pageMessages.js"></script>
<script src="{rootPrefix}/res/js/dselectHelpers.js"></script>
<script src="{rootPrefix}/res/js/rest.js"></script>
<script src="{rootPrefix}/res/js/timeHelpers.js"></script>
<script src="{rootPrefix}/res/js/OqmDb.js"></script>
<script src="{rootPrefix}/res/js/icons.js"></script>
<script src="{rootPrefix}/res/js/links.js"></script>
<script>

</script>
{#insert scripts}{/}
{!
{#if styleSheets??}
{#for script in scripts}
<script src="{script}"></script>
{/for}
{/if}
!}

{#insert pageScript}{/}

</body>
</html>
