# Service file for running an instance of Keycloak.
#  Author: Greg Stewart
#  https://www.freedesktop.org/software/systemd/man/systemd.service.html
#
#  Mongo tags: https://hub.docker.com/_/mongo?tab=tags
#
#  TODO:: figure out better username/password situation
#  https://www.docker.com/blog/how-to-use-the-postgres-docker-official-image/
#

[Unit]
Description=Postgres server for Open Quartermaster. Version ${version}, using Postgres tagged to "15".
Documentation=https://github.com/Epic-Breakfast-Productions/OpenQuarterMaster/tree/main/software/Infrastructure/postgresql
After=docker.service
Wants=network-online.target docker.socket
Requires=docker.socket

[Service]
Type=simple
Restart=always
TimeoutSec=5m

#ExecStartPre=/bin/bash -c "/usr/bin/docker container inspect oqm_mongo 2> /dev/null || "
ExecStartPre=/bin/bash -c "/usr/bin/docker stop -t 10 oqm_infra_postgres || echo 'Could not stop postgres container'"
ExecStartPre=/bin/bash -c "/usr/bin/docker rm oqm_infra_postgres || echo 'Could not remove postgres container'"
ExecStartPre=/bin/bash -c "/usr/bin/docker pull postgres:15 || echo 'Could not pull postgres image.'"

# TODO: proper admin creds
ExecStart=/bin/bash -c "/usr/bin/docker run \
                                 --name oqm_infra_postgres \
                                 -p=$(oqm-config -g 'infra.postgres.port'):5432 \
                                 -e POSTGRES_USER=\"$(oqm-config -g 'infra.postgres.adminUser')\" \
                                 -e POSTGRES_PASSWORD=\"$(oqm-config -g 'infra.postgres.adminPass')\" \
                                 -v /data/oqm/db/postgres/:/var/lib/postgresql/data/ \
                                 postgres:15"
# TODO:: properly determine that postgres is running
ExecStartPost=/bin/bash -c ""

ExecStop=/bin/bash -c "/usr/bin/docker stop -t 10 oqm_infra_postgres || echo 'Could not stop postgres container'"
ExecStopPost=/bin/bash -c "/usr/bin/docker rm oqm_infra_postgres || echo 'Could not remove postgres container'"

[Install]
WantedBy=multi-user.target
