{!
Template for the search form for storage blocks

Ingests:
  - id - the id to give the form
  - action - the value for action
  - showKeywords - if to show keyword search inputs
  - showAttributes - if to show attribute search inputs
!}
{!{@tech.ebp.oqm.baseStation.service.mongo.search.PagingOptions pagingOptions}!}
{!{@tech.ebp.oqm.baseStation.rest.search.SearchObject searchObject}!}
<form id="{id}" action="{action}" method="get" class="pagingSearchForm {#if searchFormClasses??}{searchFormClasses}{/if}" {#if onSubmit??}onsubmit="{onSubmit}"{/if}>
    <div class="row">
        {#insert inputs}<!-- No additional inputs -->{/}
		<div class="mb-3 col col-2">
			<label for="{id}-objectIdInput" class="form-label">ID</label>
			<input type="text" pattern="^[a-fA-F\d]\{24}$" class="form-control" name="id" id="{id}-objectIdInput" aria-describedby="{id}-objectIdInputHelp" placeholder="ID">
			<div id="{id}-objectIdInputHelp" class="form-text">Search by exact ID.</div>
		</div>
        {#if showKeywords?? && showKeywords == true}
        <div class="col">
            {#inputs/keywordInput}
            {/inputs/keywordInput}
        </div>
        {/if}
        {#if showAttributes?? && showAttributes == true}
        <div class="col">
            {#inputs/attInput}
            {/inputs/attInput}
        </div>
        {/if}
    </div>
    <hr />
    <div class="row">
        <div class="col col-2 text-center">
            <button type="submit" class="btn btn-info mb-1">{#icons/search}{/icons/search} Search</button>
            <button type="reset" class="btn btn-warning mb-1">Reset</button>
        </div>
        <div class="col col-2">
            <input type="hidden" id="{id}-pageNumInput" name="pageNum" value="1">
            <div class="input-group" title="Number of results per page">
                <label for="{id}-pageSizeInput" class="input-group-text">{#icons/icon icon='hash'}{/icons/icon}</label>
                <input type="number" class="form-control numPerPageInput" name="pageSize" id="{id}-pageSizeInput" aria-describedby="{id}-pageSizeInputHelp" placeholder="{defaultPageSize}" value="{defaultPageSize}" min="1">
            </div>
        </div>
    </div>
</form>