{#include webui/mainWebPageTemplate title='Account Create' navbar="toLogin" showTitle=true page="accountCreate"}
	{#pageContent}
		{#if firstUser}
			<div class="alert alert-warning" role="alert">
				<h4 class="alert-heading">First User!</h4>
				<hr>
				<p>
					You are the first user to create an account. You will be made an admin of both users and data. You
					will need to enable users after yourself for them to interact with data.
				</p>
				<p class="mb-0">
					See the "User Administration" page for more information.
				</p>
			</div>
			{#else}
			<div class="alert alert-info" role="alert">
				<h4 class="alert-heading">New User!</h4>
				<hr>
				<p>
					You will need to be approved by an admin before being able to login and use the system.
				</p>
				<!-- TODO:: list admins to contact -->
			</div>
		{/if}
		
		
		<hr/>
		<div class="row">
			<form id="userAccountCreateForm">
				<div id="createMessageDiv"></div>
				<div class="form-floating mb-3">
					<input type="email" class="form-control" id="emailInput" name="email" placeholder="name@example.com" aria-describedby="emailHelp" oninput="checkUsernameEmail(this)" required>
					<label for="emailInput">Email address *</label>
					<div id="emailHelp" class="form-text">
						Emails are stored on the server for identification and notification purposes only. Fellow users, admins, and certain plugins will have access to this as well. Must not already be in use by another user.
					</div>
				</div>
				<div class="form-floating mb-3">
					<input type="text" class="form-control" name="username" id="usernameInput" placeholder="Username" aria-describedby="usernameHelp" oninput="checkUsernameEmail(this)" required>
					<label for="usernameInput">Username *</label>
					<div id="usernameHelp" class="form-text">
						Must not already be in use by another user.
					</div>
				</div>
				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="firstnameInput" placeholder="First Name" required>
					<label for="firstnameInput">First name *</label>
				</div>
				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="lastnameInput" placeholder="Last Name" required>
					<label for="lastnameInput">Last name *</label>
				</div>
				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="titleInput" placeholder="Title">
					<label for="titleInput">Title</label>
				</div>
				<div class="form-floating mb-3">
					<input type="password" class="form-control" id="passwordInput" placeholder="Password" aria-describedby="passwordHelp" oninput="checkPassConfirmMatch()" required>
					<label for="passwordInput">Password *</label>
					<div id="passwordHelp" class="form-text">
						{passwordHelpText.raw()}
					</div>
				</div>
				<div class="form-floating mb-3">
					<input type="password" class="form-control" id="passwordConfirmInput" placeholder="Password Confirm"
							oninput="checkPassConfirmMatch()" required>
					<label for="passwordConfirmInput">Password Confirm *</label>
					<div id="passwordConfirmHelp" class="form-text">
						Must equal your password.
					</div>
				</div>
				<button type="submit" class="btn btn-success btn-lg">
					{#icons/addUser}{/icons/addUser} Create User
				</button>
			</form>
		</div>
	{/pageContent}
	{#pageScript}
		<script>
			assertNotLoggedIn();
			
			function checkUsernameEmail(input){
				doRestCall({
				spinnerContainer: null,
				url: "/api/v1/user/utils/availability/"+input.name+"/"+input.value,
					method: "GET",
					done: function (data){
						if(data.available){
							input.setCustomValidity('');
						} else {
							input.setCustomValidity('"' + input.value + '" is taken.');
						}
					}
				});
			}
			
			var passwordInput = $("#passwordInput");
			var passwordConfirmInput = $("#passwordConfirmInput");
			
			function checkPassConfirmMatch(){
				if(passwordInput.val() === passwordConfirmInput.val()){
					passwordConfirmInput[0].setCustomValidity('');
				} else {
					passwordConfirmInput[0].setCustomValidity('Password and confirmation must match');
				}
			}
			

			$("#userAccountCreateForm").submit(async function (event) {
				event.preventDefault();
				console.log("Submitting login form.");

				var createRequestData = {
					firstName: $("#firstnameInput").val(),
					lastName: $("#lastnameInput").val(),
					username: $("#usernameInput").val(),
					email: $("#emailInput").val(),
					title: $("#titleInput").val(),
					password: $("#passwordInput").val()
				};

				await doRestCall({
					url: "/api/v1/user",
					method: "POST",
					data: createRequestData,
					async: false,
					done: function (data) {
						console.log("Response from user create request.");
						window.location.replace("/?message=User Registration Successful!&messageType=success");
					},
					failMessagesDiv: "#createMessageDiv"
				});
				console.log("Done.");
			});
		</script>
	{/pageScript}
{/include}