{@java.util.List<tech.ebp.oqm.lib.core.rest.externalItemLookup.ExtItemLookupProviderInfo> productProviderInfoList}
{@java.util.List<tech.ebp.oqm.lib.core.rest.externalItemLookup.ExtItemLookupProviderInfo> supportedPageScanInfoList}
{@java.util.List<tech.ebp.oqm.lib.core.rest.externalItemLookup.ExtItemLookupProviderInfo> legoProviderInfoList}
{#include webui/mainWebPageTemplate showTitle=true title="Help and User Guide" page='help'}
	{#pageStyle}
	
	{/pageStyle}
	{#pageContent}
		<ul class="nav nav-tabs" id="mainTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="generalTab" data-bs-toggle="tab" data-bs-target="#generalTabContent"
						type="button" role="tab" aria-controls="generalTabContent" aria-selected="true">
					General
				</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="unitsTab" data-bs-toggle="tab"
						data-bs-target="#unitsContent" type="button" role="tab"
						aria-controls="unitsContent" aria-selected="false">
					Units
				</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="itemSearchProvidersTab" data-bs-toggle="tab"
						data-bs-target="#itemSearchProvidersContent" type="button" role="tab"
						aria-controls="itemSearchProvidersContent" aria-selected="false">Search Providers
				</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="itemListsTab" data-bs-toggle="tab"
						data-bs-target="#itemListsContent" type="button" role="tab"
						aria-controls="itemListsContent" aria-selected="false">Item Lists
				</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="apiTab" data-bs-toggle="tab"
						data-bs-target="#apiContent" type="button" role="tab"
						aria-controls="apiContent" aria-selected="false">API
				</button>
			</li>
		</ul>
		<div class="tab-content" id="mainTabContent">
		<div class="tab-pane fade show active" id="generalTabContent" role="tabpanel" aria-labelledby="generalTab">
			{! TODO:: this !}
			TODO
		</div>
		<div class="tab-pane fade" id="unitsContent" role="tabpanel" aria-labelledby="unitsTab">
			<h2>
				Units
			</h2>
			<p>
				This describes what units are available to use in this system. An inventory administrator can add additional units.
			</p>
			{#for curCategory in unitCategoryMap}
			<hr />
				<h4>
					{curCategory.getKey()}
				</h4>
				<ul>
					{#for curUnit in curCategory.getValue()}
					<li>
						{curUnit.getName()} - (  #{curUnit.getSymbol()} )
					</li>
					{/for}
				</ul>
			{/for}
		</div>
		<div class="tab-pane fade" id="itemSearchProvidersContent" role="tabpanel" aria-labelledby="itemSearchProvidersTab">
		<h2>
			Item Search Providers
		</h2>
		<p>
			This describes the external services supported by Open QuarterMaster to help read in data about items.
		</p>
		<p>
			For information on enabling/ configuring these providers, see <a
					href="https://github.com/Epic-Breakfast-Productions/OpenQuarterMaster/blob/main/software/open-qm-base-station/docs/BuildingAndDeployment.adoc#product-search-providers">our
				documentation on Github</a>
		</p>
		<hr/>
		<h3>
			Products
		</h3>
		<p>
			Services to search for Products by UPC/Barcode
		</p>
		<div class="row">
			{#for productProvider in productProviderInfoList}
				{#providerInfoCard providerInfo=productProvider}
				{/providerInfoCard}
			{/for}
		</div>
		<hr />
		<h3>
			Websites
		</h3>
		<p>
			These websites are supported to glean data from. The intent is for you to enter a specific product's page.
		</p>
		<div class="row">
		{#for productProvider in supportedPageScanInfoList}
			{#providerInfoCard providerInfo=productProvider}
			{/providerInfoCard}
		{/for}
		</div>
		<hr />
		<h3>
			Lego
		</h3>
		<p>
			This describes the external services to search for Lego(tm) bricks.
		</p>
		<div class="row">
		{#for productProvider in legoProviderInfoList}
			{#providerInfoCard providerInfo=productProvider}
			{/providerInfoCard}
		{/for}
		</div>
		
		</div>
		<div class="tab-pane fade" id="itemListsContent" role="tabpanel" aria-labelledby="itemListsTab">
			<h2>
				Item Lists
			</h2>
			<p>
				TODO
			</p>
			<hr />
		
		</div>
		<div class="tab-pane fade" id="apiContent" role="tabpanel" aria-labelledby="apiTab">
			<h2>
				Rest API
			</h2>
			<p>
				Full documentation of all endpoints is available at the <a href="/q/swagger-ui" target="_blank">Swagger UI</a>.
			</p>
			<hr />
			TODO::
			- explain logging in through api (show relevant steps for SELF or EXTERNAL auth modes)
		
		</div>
		</div>
	{/pageContent}
	{#pageScript}
		<script>
		
		</script>
	{/pageScript}
{/include}