{#include webui/mainWebPageTemplate showNavbar=true showTitle=true title='Images' titleIcon='images' page='images'}
{#styleSheets}
<link rel="stylesheet" href="/lib/Croppie-2.6.4/croppie.css"/>
{/styleSheets}
{#pageStyle}

{/pageStyle}
{#pageContent}
<div class="row mb-2">
    <div class="col-6 d-grid gap-2 text-center">
        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                data-bs-target="#addEditModal" onclick="setupAddEditForAdd();"><i
                class="fas fa-plus"></i> Add Image
        </button>
    </div>
</div>
<div class="row">
    <div class="col accordion" id="searchAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="searchHeader">
                <button class="accordion-button {#if !showSearch}collapsed{/if}" type="button" data-bs-toggle="collapse"
                        data-bs-target="#searchCollapse" aria-expanded="{#if showSearch}true{#else}false{/if}"
                        aria-controls="searchCollapse">
                    <i class="fas fa-search"></i> Search Fields
                </button>
            </h2>
            <div id="searchCollapse" class="accordion-collapse collapse {#if showSearch}show{/if}"
                 aria-labelledby="searchHeader" data-bs-parent="#searchAccordion">
                <div class="accordion-body">
                    {#search/image/imageSearchForm id='mainImageSearch'}
                    {/search/image/imageSearchForm}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="imageSearchresults">
    {#search/image/imageSearchResults searchResults=searchResult actionType='full' searchFormId='mainImageSearch' pagingCalculations=pagingCalculations}
    {/search/image/imageSearchResults}
</div>

{/pageContent}
{#modals}
<div class="modal fade" tabindex="-1" id="addEditModal" aria-labelledby="addEditModalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEditModalTitle"><span id="addEditModalTitleText">Add/Edit</span> Image
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="addEditFormMessages">
                </div>
                <form id="addEditImageForm">
                    <input type="hidden" id="addEditFormMode" value="">
                    <input type="hidden" id="addEditFormId" value="">
                    <div class="mb-3 row">
                        <label for="addEditTitleInput" class="col-sm-3 col-form-label">Title</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="addEditTitleInput" placeholder="Title" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="addEditDescriptionInput" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="addEditDescriptionInput"
                                      placeholder="Description"></textarea>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="imageUploadInput" class="form-label">Image File</label>
                        <input class="form-control" type="file" id="imageUploadInput" accept="image/*">
                        <div class="col-md-4 text-center pt-3">
                            <div id="upload-input" class="border" style="width:350px;"></div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Keywords</label> <br />
                        <div id="keywordInputDiv"></div>
                        <button type="button" class="btn btn-success btn-sm" onclick="addKeywordInput($('#keywordInputDiv'));"><i class="fas fa-plus"></i> Add keyword</button>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Attributes</label> <br />
                        <div id="attInputDiv"></div>
                        <button type="button" class="btn btn-success btn-sm" onclick="addAttInput($('#attInputDiv'));"><i class="fas fa-plus"></i> Add Attribute</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="addEditImageForm" class="btn btn-success"
                        id="addEditFormSubmitButton"></button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="viewModal" aria-labelledby="viewModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewModalTitle"><i class="fas fa-image"></i> <span id="viewModalTitleText">View</span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7 text-center">
                        <img class="imageViewImage img-thumbnail" src="">
                    </div>
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-8"><img class="imageViewImage img-thumbnail img-75" src=""></div>
                            <div class="col-lg-6"><img class="imageViewImage img-thumbnail img-50" src=""></div>
                            <div class="col-lg-4"><img class="imageViewImage img-thumbnail img-25" src=""></div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col" id="imageViewMessages">
                    </div>
                </div>
                <div class="row" id="viewDescriptionTextSection">
                    <div class="col">
                        <h4>Description:</h4>
                        <p id="viewDescriptionText"></p>
                    </div>
                </div>
                <div class="row" id="viewKeywordsTextSection">
                    <div class="col">
                        <h4>Keywords:</h4>
                        <p id="viewKeywordsText"></p>
                    </div>
                </div>
                <div class="row" id="viewAttsSection">
                    <div class="col">
                        <h4>Attributes:</h4>
                        <p id="viewAttsSectionText"></p>
                    </div>
                </div>
                <div class="row">
                    {#objView/objHistoryView containerId='historyViewContainer'}{/objView/objHistoryView}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal" data-bs-toggle="modal"
                        data-bs-target="#addEditModal" id="imageEditButton"><i class="fas fa-edit"></i> Edit
                </button>
                <button type="button" class="btn btn-danger" id="imageDeleteButton"><i class="fas fa-trash"></i> Delete
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{/modals}
{#scripts}
<script src="/res/js/search.js"></script>
<script src="/res/js/objEdit.js"></script>
<script src="/res/js/objView.js"></script>
<script src="/lib/Croppie-2.6.4/croppie.min.js"></script>
{/scripts}
{#pageScript}
{!
<script> !}
fillInQueryForm($("#mainImageSearch"));

var addEditImageForm = $("#addEditImageForm");
var addEditModalTitleText = $("#addEditModalTitleText");
var addEditFormSubmitButton = $("#addEditFormSubmitButton");
var addEditFormMessages = $("#addEditFormMessages");
var keywordInputDiv = $("#keywordInputDiv");
var attInputDiv = $("#attInputDiv");
//inputs
var addEditFormMode = $("#addEditFormMode");
var addEditFormId = $("#addEditFormId");
var addEditTitleInput = $("#addEditTitleInput");
var addEditDescriptionInput = $("#addEditDescriptionInput");

//TODO:: figure out proper sizing on small screens
$uploadCrop = $('#upload-input').croppie({
    enableExif: true,
    viewport: {
        width: 250,
        height: 250,
        type: 'square'
    },
    boundary: {
        width: 300,
        height: 300
    }
});
var cropSlider = $uploadCrop.find(":input.cr-slider");

function bindCroppie(bindVal){
    return $uploadCrop.croppie('bind', {
        url: bindVal
    }).then(function(){
        var minVal = cropSlider.attr('min');
        minVal = minVal === undefined ? 0 : minVal;
        $uploadCrop.croppie(
            'setZoom',
            cropSlider.attr('min')
        );
    });
}

$('#imageUploadInput').on('change', function () {
	var reader = new FileReader();
    reader.onload = function (e) {
    	bindCroppie(e.target.result).then(function(){
    		console.log('Loaded image selected by user.');
    	});
    }
    reader.readAsDataURL(this.files[0]);
});

function resetAddEdit(){
    addEditImageForm.trigger("reset");
    addEditFormMessages.text("");
    keywordInputDiv.html("");
    attInputDiv.html("");
    bindCroppie("/media/logo.png");
}

function setupAddEditForAdd(){
    console.log("Setting up add/edit form for add.");
    resetAddEdit();
    addEditFormMode.val("add");
    addEditModalTitleText.text("Add");
    addEditFormSubmitButton.html('<i class="fas fa-plus"></i> Add Image');
}
function setupAddEditForEdit(id){
    console.log("Setting up add/edit form for edit.");
    resetAddEdit();
    addEditFormMode.val("edit");
    addEditModalTitleText.text("Edit");
    addEditFormSubmitButton.html('<i class="fas fa-edit"></i> Edit Image');

    addEditFormId.val(id);

    doRestCall({
        url: "/api/media/image/" + id,
        method: "GET",
        async: false,
        done: function(data) {
            console.log("Response from create request: " + JSON.stringify(data));
            addEditTitleInput.val(data.title);
            addEditDescriptionInput.text(data.description);

            bindCroppie("/api/media/image/" + id + "/data");

            addKeywordInputs(keywordInputDiv, data.keywords);
            addAttInputs(attInputDiv, data.attributes);
        },
        fail: function(data) {
            console.warn("Bad response from image data get attempt: " + JSON.stringify(data));
            addMessageToDiv(imageViewMessages, "danger", "Failed to get info on image: " + data.responseText, "Failed", null);
        }
    });
}


addEditImageForm.submit(function (ev) {
    ev.preventDefault();

    $uploadCrop.croppie('result', {
		type: 'base64',
		size: 'original'
	}).then(function(imageDataStr){
        var addEditData = {
            title: addEditTitleInput.val(),
            description: addEditDescriptionInput.val(),
            imageData: imageDataStr
        };

        addKeywordAttData(addEditData, keywordInputDiv, attInputDiv);

	    console.log("Got image data.");

        if(addEditFormMode.val() == "add"){
            console.log("Adding new image.");
            doRestCall({
                url: "/api/media/image",
                method: "POST",
                data: addEditData,
                async: false,
                done: function(data) {
                    console.log("Response from create request: " + JSON.stringify(data));
                    reloadPageWithMessage("Created image successfully!", "success", "Success!");
                },
                fail: function(data) {
                    console.warn("Bad response from image add attempt: " + JSON.stringify(data));
                    addMessageToDiv(addEditFormMessages, "danger", "Failed to do add image: " + data.responseText, "Failed", null);
                }
            });
        } else if(addEditFormMode.val() == "edit"){
            var id = addEditFormId.val();
            console.log("Editing image " + id);

            doRestCall({
                url: "/api/media/image/" + id,
                method: "PUT",
                data: addEditData,
                async: false,
                done: function(data) {
                    console.log("Response from update request: " + JSON.stringify(data));
                    reloadPageWithMessage("Updated image successfully!", "success", "Success!");
                },
                fail: function(data) {
                    console.warn("Bad response from update attempt: " + JSON.stringify(data));
                    addMessageToDiv(addEditFormMessages, "danger", "Failed to do update: " + data.responseText, "Failed", null);
                }
            });

        } else {
            addMessageToDiv(addEditFormMessages, "danger", "Failed to do action.", "Failed", null);
        }
	});
});


var viewModalTitleText = $('#viewModalTitleText');
var imageViewImages = $('.imageViewImage');
var imageViewMessages = $('.imageViewMessages');
var viewDescriptionTextSection = $('#viewDescriptionTextSection');
var viewDescriptionText = $('#viewDescriptionText');
var viewKeywordsTextSection = $('#viewKeywordsTextSection');
var viewKeywordsText = $('#viewKeywordsText');
var viewAttsSection = $('#viewAttsSection');
var viewAttsSectionText = $('#viewAttsSectionText');
var imageDeleteButton = $('#imageDeleteButton');
var imageEditButton = $('#imageEditButton');
var historyViewContainer = $('#historyViewContainer');

function resetView(){
    viewModalTitleText.text("");
    imageViewImages.each(function(cur){
        cur.src = '';
    });
    viewDescriptionTextSection.hide();
    viewDescriptionText.text("");
    viewKeywordsTextSection.hide();
    viewKeywordsText.text("");
    viewAttsSection.hide();
    viewAttsSectionText.text("");
    historyViewContainer.text("");

    imageDeleteButton.off('click');
}

function setupViewForImage(id){
    resetView();

    var curUrl = '/api/media/image/' + id + '/data';
    imageViewImages.each(function(i, cur){
        cur.src = curUrl;
    });

    doRestCall({
        url: "/api/media/image/" + id,
        method: "GET",
        async: false,
        done: function(data) {
            console.log("Response from create request: " + JSON.stringify(data));
            viewModalTitleText.text(data.title);
            if(data.description){
                console.log("had description");
                viewDescriptionTextSection.show();
                viewDescriptionText.text(data.description);
            }
            processKeywordDisplay(viewKeywordsTextSection, viewKeywordsText, data.keywords);
            processAttDisplay(viewAttsSection, viewAttsSectionText, data.attributes);
            displayObjHistory(historyViewContainer, data.history);

            imageEditButton.click(function(event){
                setupAddEditForEdit(id);
            });
            imageDeleteButton.click(function(event){
                console.log("Determining if user really wants to delete image.");
                if(!confirm("Are you sure you want to delete this image?")){
                    return false;
                }
                console.log("Deleting image " + id);

                doRestCall({
                    url: "/api/media/image/" + id,
                    method: "DELETE",
                    async: false,
                    done: function(data) {
                        console.log("Response from create request: " + JSON.stringify(data));
                        reloadPageWithMessage("Delete image successfully!", "success", "Success!");
                    },
                    fail: function(data) {
                        console.warn("Bad response from image delete attempt: " + JSON.stringify(data));
                        addMessageToDiv(imageViewMessages, "danger", "Failed to remove image: " + data.responseText, "Failed", null);
                    }
                });
            });
        },
        fail: function(data) {
            console.warn("Bad response from image data get attempt: " + JSON.stringify(data));
            addMessageToDiv(imageViewMessages, "danger", "Failed to get info on image: " + data.responseText, "Failed", null);
        }
    });
}



{!

</script> !}
{/pageScript}

{/include}