{#include webui/mainWebPageTemplate showNavbar=true showTitle=true title="Inventory Administration" titleIcon='screwdriver-wrench' page='inventoryAdmin'}
	{#pageStyle}
	
	{/pageStyle}
	{#pageContent}
		<div class="row">
			<div class="col">
				<ul class="nav nav-tabs mb-3" id="mainTab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" id="importExportTab" data-bs-toggle="tab" data-bs-target="#importExportContent" type="button" role="tab" aria-controls="importExportContent" aria-selected="true">Import/Export</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="pruningTab" data-bs-toggle="tab" data-bs-target="#pruningContent" type="button" role="tab" aria-controls="pruningContent" aria-selected="false">Data Pruning</button>
					</li>
				</ul>
				<div class="tab-content" id="mainTabContent">
					<div class="tab-pane fade show active" id="importExportContent" role="tabpanel" aria-labelledby="importExportTab">
						<h2>Data Import/Export</h2>
						
						<div class="accordion" id="importExportAccordion">
							<div class="accordion-item">
								<h2 class="accordion-header" id="importHeading">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#importCollapse" aria-expanded="false" aria-controls="importCollapse">
										<i class="fa-solid fa-file-import"></i>
										Import
									</button>
								</h2>
								<div id="importCollapse" class="accordion-collapse collapse" aria-labelledby="importHeading" data-bs-parent="#importExportAccordion">
									<div class="accordion-body">
										<strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="exportHeading">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exportCollapse" aria-expanded="false" aria-controls="exportCollapse">
										<i class="fa-solid fa-file-export"></i>
										Export
									</button>
								</h2>
								<div id="exportCollapse" class="accordion-collapse collapse" aria-labelledby="exportHeading" data-bs-parent="#importExportAccordion">
									<div class="accordion-body">
										<form target="_blank" method="get" action="/api/inventory/manage/export">
											<div class="col-12 mb-2">
												<div class="form-check form-switch">
													<input class="form-check-input" type="checkbox" role="switch" id="excludeHistoryCheckbox" name="excludeHistory" value="true">
													<label class="form-check-label" for="excludeHistoryCheckbox">Exclude History</label>
												</div>
											</div>
											<div class="col-12">
												<button type="submit" class="btn btn-primary">
													<i class="fa-solid fa-file-export"></i>
													Export
												</button>
											</div>
										</form>
										
									</div>
								</div>
							</div>
							
						</div>
					</div>
					<div class="tab-pane fade" id="pruningContent" role="tabpanel" aria-labelledby="pruningTab">
						<h2>Data Pruning</h2>
					</div>
				</div>
				
			</div>
		</div>
	{/pageContent}
	{#pageScript}
		<script>
		
		</script>
	{/pageScript}
{/include}