{#include webui/mainWebPageTemplate navbar="full" showTitle=true title='Items' page='items'}
{@java.util.Map allowedUnitsMap}
{#styleSheets}
    <link rel="stylesheet" href="/lib/Croppie-2.6.4/croppie.css"/>
{/styleSheets}
{#pageContent}
<div class="row">
    <div class="col d-grid gap-2">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addEditItemModal"
                onclick="setupAddEditForAdd();">{#icons/add}{/icons/add} Add Item
        </button>
    </div>
    <div class="col d-grid gap-2">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addItemFromFileModal">{#icons/addFile}{/icons/addFile} Add Item(s) from file
        </button>
    </div>
    <!--
    <div class="col d-grid gap-2">
        <button type="button" class="btn btn-info">{#icons/view}{/icons/view} Item stats</button>
    </div>
    -->
</div>
<br/>
<div class="row">
    <div class="col accordion" id="searchAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="searchHeader">
                <button class="accordion-button {#if !showSearch}collapsed{/if}" type="button" data-bs-toggle="collapse"
                        data-bs-target="#searchCollapse" aria-expanded="{#if showSearch}true{#else}false{/if}"
                        aria-controls="searchCollapse">
                    {#icons/search}{/icons/search}
                    Search Fields
                </button>
            </h2>
            <div id="searchCollapse" class="accordion-collapse collapse {#if showSearch}show{/if}"
                 aria-labelledby="searchHeader" data-bs-parent="#searchAccordion">
                <div class="accordion-body">
                    {#search/item/itemSearchForm id='mainItemSearch'}
                    {/search/item/itemSearchForm}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col table-responsive">
        <table class=" table table-bordered table-striped table-hover table-sm">
            {#search/item/itemSearchResults searchResults=searchResult actionType='full' searchFormId='mainItemSearch' pagingCalculations=pagingCalculations}
            {/search/item/itemSearchResults}
        </table>
    </div>
</div>
{#inputs/units/unitOptionsHidden allowedUnitsMap=allowedUnitsMap}
{/inputs/units/unitOptionsHidden}
{#inputs/attInputHidden}
{/inputs/attInputHidden}
{#inputs/keywordInputHidden}
{/inputs/keywordInputHidden}
{#search/image/imageSelectFormInputHidden}
{/search/image/imageSelectFormInputHidden}
{/pageContent}
{#modals}
    {#objView/itemViewModal}
        {#footerButtons}
            <button type="button" id="itemViewEditButton" class="btn btn-warning" title="Edit" data-bs-toggle="modal" data-bs-target="#addEditItemModal" >
                {#icons/edit}{/icons/edit}
                Edit Item
            </button>
        {/footerButtons}
    {/objView/itemViewModal}
    {#itemAddEditModal}{/itemAddEditModal}
{#modal id='addItemFromFile' size='xl' title='Add item(s) from file' submitForm='addItemFromFileForm' submitDismiss=false}
    {#titleIcon}{#icons/addFile}{/icons/addFile}{/titleIcon}
    <div class="row">
        <div class="col" id="addItemFromFileFormMessages">
        </div>
    </div>
    <!-- TODO:: point to docs on how to do this -->
    <div class="row">
        <div class="col">
            <form id="addItemFromFileForm">
                <div class="col-12 mb-3">
                    <label for="importBulkFileInput" class="form-label">
                        <a href="/api/v1/templates/itemsCsv" target="_blank" title="Get CSV Template file">{#icons/fileCsv}{/icons/fileCsv} CSV</a>,
                        or {#icons/fileJson}{/icons/fileJson} JSON file:
                    </label>
                    <input class="form-control" type="file" id="addFromFileInput" name="file" accept="text/csv,application/json" required>
                </div>
            </form>
        </div>
    </div>
{/modal}
{#search/storage/StorageSearchSelectModal otherModalId="addEditItemModal"}
{/search/storage/StorageSearchSelectModal}
{#search/image/imageSearchSelectModal otherModalId="addEditItemModal"}
{/search/image/imageSearchSelectModal}
{#inputs/item/itemAddSubTransModal otherModalId=""}
{/inputs/item/itemAddSubTransModal}
{#itemCheckout/itemCheckoutModal otherModalId="itemViewModal"}
{/itemCheckout/itemCheckoutModal}
{#CodeScannerModal}{/CodeScannerModal}
{/modals}

{#scripts}
    <script src="/lib/html5-qrcode/2.3.8/html5-qrcode.min.js"></script>
    <script src="/lib/Croppie-2.6.4/croppie.min.js"></script>
    <script src="/res/js/obj/media/imageAdd.js"></script>
    <script src="/res/js/obj/media/imageAddFromSelect.js"></script>
    <script src="/res/js/search.js"></script>
    <script src="/res/js/historySearch.js"></script>
    <script src="/res/js/obj/objEdit.js"></script>
    <script src="/res/js/obj/objView.js"></script>
    <script src="/res/js/storedTypeUtils.js"></script>
    <script src="/res/js/obj/media/imageSearchSelect.js"></script>
    <script src="/res/js/obj/storageBlock/storageSearchSelect.js"></script>
    <script src="/res/js/obj/units.js"></script>
    <script src="/res/js/obj/getters.js"></script>
    <script src="/res/js/obj/storageBlock/capacities.js"></script>
    <script src="/res/js/carousel.js"></script>
    <script src="/res/js/item/ItemAddSubTrans.js"></script>
    <script src="/res/js/obj/storageBlock/storageBlockTree.js"></script>
    <script src="/res/js/obj/itemCategoryView.js"></script>
    <script src="/res/js/textCopy.js"></script>
    <script src="/res/js/item/extItemSearch.js"></script>
    <script src="/res/js/obj/item/itemAddEdit.js"></script>
    <script src="/res/js/obj/item/storedView.js"></script>
    <script src="/res/js/obj/item/itemView.js"></script>
    <script src="/res/js/CodeScanning.js"></script>
    <script src="/res/js/obj/itemCheckout/itemCheckout.js"></script>
{/scripts}
{#pageScript}
<script>
fillInQueryForm($("#mainItemSearch"));
const STORAGE_CLASS = "storageBlock";

var keywordInputTemplate = $('#keywordInputTemplate');
var attInputTemplate = $('#attInputTemplate');
var imageInputTemplate = $('#imageInputTemplate');


var addFromFileInput = $("#addFromFileInput")[0];
var addItemFromFileFormMessages = $("#addItemFromFileFormMessages");

$("#addItemFromFileForm").submit(function (e){
    e.preventDefault();
    
    let formData = new FormData();
    let file = addFromFileInput.files[0];
    
    formData.append("fileName", file.name);
    formData.append("file", file);
    
    doRestCall({
        url: '/api/v1/inventory/item',
        method: "post",
        data: formData,
        done: function (data){
            console.log("Successfully added items.");
            PageMessages.reloadPageWithMessage("Added item(s) successfully!", "success", "Success!");
        },
        failMessagesDiv: addItemFromFileFormMessages
    });
});

function removeItem(itemId){
    if(!confirm("Are you sure you want to delete this item? This cannot be undone.")){
        return;
    }
    console.log("Removing item " + itemId);
    
    doRestCall({
        url: "/api/v1/inventory/item/" + itemId,
        method: "DELETE",
        done: function(data) {
            console.log("Response from remove request: " + JSON.stringify(data));
            PageMessages.reloadPageWithMessage("Removed item successfully!", "success", "Success!");
        },
        fail: function(data) {
            console.warn("Bad response from remove attempt: " + JSON.stringify(data));
            PageMessages.addMessageToDiv(PageMessages.mainMessageDiv, "danger", "Failed to remove item.", "Failed", null);
        }
    });
}


</script>
{/pageScript}
{/include}