{@java.util.List<tech.ebp.oqm.lib.core.rest.externalItemLookup.ExtItemLookupProviderInfo> productProviderInfoList}
{@java.util.List<tech.ebp.oqm.lib.core.rest.externalItemLookup.ExtItemLookupProviderInfo> supportedPageScanInfoList}
{@java.util.List<tech.ebp.oqm.lib.core.rest.externalItemLookup.ExtItemLookupProviderInfo> legoProviderInfoList}
{#include webui/mainWebPageTemplate showTitle=true title="Item Lists" page='itemLists' navbar="full"}
	{#pageStyle}
	
	{/pageStyle}
	{#pageContent}
		
		
		{!TODO:: search/display lists, list add form. Enter add form if #add!}
		
	
	{/pageContent}
	{#pageScript}
		<script>
		
		</script>
	{/pageScript}
{/include}