{#include webui/mainWebPageTemplate navbar="full" showTitle=true title="Item Checkout" page='itemCheckout'}
{#pageStyle}

{/pageStyle}
{#pageContent}
<div class="row">
	<div class="col accordion" id="searchAccordion">
		<div class="accordion-item">
			<h2 class="accordion-header" id="searchHeader">
			<button class="accordion-button {#if !showSearch}collapsed{/if}" type="button" data-bs-toggle="collapse"
				data-bs-target="#searchCollapse" aria-expanded="{#if showSearch}true{#else}false{/if}"
				aria-controls="searchCollapse">
				{#icons/search}{/icons/search} Search Fields
			</button>
			</h2>
			<div id="searchCollapse" class="accordion-collapse collapse {#if showSearch}show{/if}"
						 aria-labelledby="searchHeader" data-bs-parent="#searchAccordion">
				<div class="accordion-body">
					{#search/itemCheckout/searchForm id='mainCheckoutSearch'}
					{/search/itemCheckout/searchForm}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col table-responsive">
		<table class=" table table-bordered table-striped table-hover table-sm">
			{#search/itemCheckout/searchResults searchResults=searchResult actionType='full' searchFormId='mainCheckoutSearch' pagingCalculations=pagingCalculations}
			{/search/itemCheckout/searchResults}
		</table>
	</div>
</div>


{/pageContent}
{#modals}
	
	{#itemCheckout/itemCheckinModal}
	{/itemCheckout/itemCheckinModal}
	{#itemCheckout/viewModal}
	{/itemCheckout/viewModal}
	{#search/item/itemSearchSelectModal}
	{/search/item/itemSearchSelectModal}
{/modals}
{#scripts}
<script src="/res/js/entityRef.js"></script>
<script src="/res/js/carousel.js"></script>
<script src="/res/js/search.js"></script>
<script src="/res/js/textCopy.js"></script>
<script src="/res/js/obj/getters.js"></script>
<script src="/res/js/historySearch.js"></script>
<script src="/res/js/obj/objView.js"></script>
<script src="/res/js/obj/item/storedView.js"></script>
<script src="/res/js/obj/itemCheckout/itemCheckin.js"></script>
<script src="/res/js/obj/itemCheckout/itemCheckoutView.js"></script>
<script src="/res/js/obj/objEdit.js"></script>
	<script src="/res/js/obj/item/itemSearchSelect.js"></script>
{/scripts}
{#pageScript}
    <script>
		fillInQueryForm($("#mainCheckoutSearch"));
        //$("#userHistoryForm").submit();
    </script>
{/pageScript}
{/include}