{@java.util.List<tech.ebp.oqm.lib.core.rest.externalItemLookup.ExtItemLookupProviderInfo> productProviderInfoList}
{@java.util.List<tech.ebp.oqm.lib.core.rest.externalItemLookup.ExtItemLookupProviderInfo> supportedPageScanInfoList}
{@java.util.List<tech.ebp.oqm.lib.core.rest.externalItemLookup.ExtItemLookupProviderInfo> legoProviderInfoList}
{#include webui/mainWebPageTemplate showTitle=true title="Item List" page='itemLists' navbar="full"}
	{#pageStyle}
	
	{/pageStyle}
	{#pageContent}
	
	{/pageContent}
	{#pageScript}
		<script>
		
		</script>
	{/pageScript}
{/include}