{#include webui/mainWebPageTemplate showTitle=true title=itemList.getName() page='itemLists' navbar="full"}
	{#pageStyle}
	
	{/pageStyle}
	{#additionalTitleContent}
		<a href="/itemLists">Back to List Search</a>
		<p>
			Created by: {#interactingEntityRef entityRef=listCreateEvent.getEntity()}{/interactingEntityRef}<br />
			On: {listCreateEvent.getTimestamp()}
		</p>
	{/additionalTitleContent}
	{#pageContent}
	
	
	{/pageContent}
	{#pageScript}
		<script>
		
		</script>
	{/pageScript}
{/include}