{#include webui/mainWebPageTemplate showNavbar=true showTitle=true title='Overview' titleIcon='tachometer-alt' page='overview'}
{#pageStyle}

{/pageStyle}
{#pageContent}

<p>
    {numItems} types of items stored in over {numStorageBlocks} storage blocks
</p>

{#if config:['quarkus.rest-client.demoService.perform'] == 'true' || config:['quarkus.rest-client.demoServiceExternal.perform'] == 'true'}
<h3>
    Results from other service(s):
</h3>
<table class="table table-bordered">
    <tr>
        <th>
            Service/endpoint
        </th>
        <th>
            Response
        </th>
    </tr>
    {#if config:['quarkus.rest-client.demoService.perform'] == 'true'}
    <tr><th class="text-nowrap">Endpoint 1<br />(<code>{config:['quarkus.rest-client.demoService.url']}/demo/1</code>)</th><td><code>{response1}</code></td></tr>
    <tr><th class="text-nowrap">Endpoint 2<br />(<code>{config:['quarkus.rest-client.demoService.url']}/demo/2</code>)</th><td><code>{response2}</code></td></tr>
    {/if}
    {#if config:['quarkus.rest-client.demoServiceExternal.perform'] == 'true'}
    <tr><th class="text-nowrap">Endpoint 1 external<br />(<code>{config:['quarkus.rest-client.demoServiceExternal.url']}/demo/1</code>)</th><td><code>{responseExt1}</code></td></tr>
    <tr><th class="text-nowrap">Endpoint 2 external<br />(<code>{config:['quarkus.rest-client.demoServiceExternal.url']}/demo/2</code>)</th><td><code>{responseExt2}</code></td></tr>
    {/if}
</table>
{/if}
<p>
    Todo:
<ul>
    <li>% storage util</li>
    <li>graphs on storage stats?</li>
    <li>List out top items close to expire</li>
</ul>
</p>

{/pageContent}
{/include}