{#include webui/mainWebPageTemplate showNavbar=true showTitle=true title='Overview' titleIcon='tachometer-alt' page='overview'}
	{#pageStyle}
		.buttonCell{
		border: 1px solid black;
		height: 50px;
		width: 50px;
		}
	{/pageStyle}
	{#pageContent}
		<ul class="nav nav-tabs" id="mainTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="overviewTab" data-bs-toggle="tab" data-bs-target="#overviewTabContent" type="button" role="tab" aria-controls="overviewTabContent" aria-selected="true">
					Overview
				</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="expiringTab" data-bs-toggle="tab" data-bs-target="#expiringTabContent" type="button" role="tab" aria-controls="expiringTabContent" aria-selected="false">
					Expiring
					<span class="badge rounded-pill bg-danger" title="Expired">0</span>
					<span class="badge rounded-pill bg-warning text-dark" title="Expiring Soon">0</span>
				</button>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="overviewTabContent" role="tabpanel" aria-labelledby="overviewTab">
				<p>
					{numItems} types of items stored in over {numStorageBlocks} storage blocks
				</p>
				TODO:: show a navicable overview of storage blocks, items contained within
			</div>
			<div class="tab-pane fade" id="expiringTabContent" role="tabpanel" aria-labelledby="expiringTab">
				TODO:: list items that are expiring soon/ expired
			</div>
		</div>
	{/pageContent}
	{#pageScript}
		<script>
		
		</script>
	{/pageScript}
{/include}