{@com.ebp.openQuarterMaster.baseStation.service.mongo.search.SearchResult searchResult}
{@com.ebp.openQuarterMaster.baseStation.service.mongo.search.PagingCalculations pagingCalculations}
{@java.util.Map allowedUnitsMap}
{#include webui/mainWebPageTemplate showNavbar=true showTitle=true title='Storage' titleIcon='boxes' page='storage'}
{!
Accepts:
- showSearch: bool, to have the search form expanded already
- numStorageBlocks: int, the number of storage blocks in the system
- allowedUnitsMap- Map
<String, List
<Unit>> the map of allowed units
    !}
    {#styleSheets}
    <link rel="stylesheet" href="/res/css/storageTree.css">
    <link rel="stylesheet" href="/lib/treant-js/Treant.css">
    <link rel="stylesheet" href="/lib/treant-js/vendor/perfect-scrollbar/perfect-scrollbar.css">
    {/styleSheets}
    {#pageStyle}
    #storageBlockViewCarousel{
        max-width:400px;
    }
    {/pageStyle}
    {#pageContent}

    <div class="row">
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addEditModal"
                    onclick="setupAddEditForAdd();"><i class="fas fa-plus"></i> Add Storage Block
            </button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-info"><i class="fas fa-eye"></i> Storage block stats</button>
        </div>
</div>
<div class="row">
    <div class="col">
        <div class="chart" id="mainTreeChart"></div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col accordion" id="searchAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="searchHeader">
                <button class="accordion-button {#if !showSearch}collapsed{/if}" type="button" data-bs-toggle="collapse"
                        data-bs-target="#searchCollapse" aria-expanded="{#if showSearch}true{#else}false{/if}"
                        aria-controls="searchCollapse">
                    <i class="fas fa-search"></i> Search Fields
                </button>
            </h2>
            <div id="searchCollapse" class="accordion-collapse collapse {#if showSearch}show{/if}"
                 aria-labelledby="searchHeader" data-bs-parent="#searchAccordion">
                <div class="accordion-body">
                    {#search/storage/StorageSearchForm id='mainStorageSearch'}
                    {/search/storage/StorageSearchForm}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col table-responsive">
        <table class=" table table-bordered table-striped table-hover table-sm">
            {#search/storage/storageSearchResults searchResults=searchResult actionType='full' searchFormId='mainStorageSearch' pagingCalculations=pagingCalculations}
            {/search/storage/storageSearchResults}
        </table>
    </div>
</div>
    {#unitOptionsHidden allowedUnitsMap=allowedUnitsMap}
    {/unitOptionsHidden}

    {/pageContent}
{#modals}

    {!
{#include webui/bootstrapComponents/modal}
{title}Add/Edit Storage Block{/title}
{/include}
!}
<div class="modal fade" tabindex="-1" id="addEditModal" aria-labelledby="addEditModalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEditModalTitle"><span id="addEditModalTitleText">Add/Edit</span> Storage
                    Block</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="addEditFormMessages">

                </div>
                <form id="addEditStorageForm">
                    <input type="hidden" id="addEditFormMode" value="">
                    <div class="mb-3 row">
                        <label for="addEditLabelInput" class="col-sm-2 col-form-label">Label</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="addEditLabelInput" placeholder="Label" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="addEditLocationInput" class="col-sm-2 col-form-label">Location</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="addEditLocationInput" placeholder="Location">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="addEditParentInputName" class="col-sm-2 col-form-label">Parent</label>
                        <input type="hidden" id="addEditParentInputId">
                        <div class="col-sm-10">
                            <div class="input-group">
                                <button class="btn btn-outline-secondary" type="button"  data-bs-toggle="modal" data-bs-target="#storageSearchSelectModal" onclick="setupStorageSearchModal('addEditParentInput');"><i class="fas fa-search"></i></button>
                                <input type="text" class="form-control" id="addEditParentInputName" placeholder="Parent" disabled>
                                <button class="btn btn-outline-secondary" type="button" onclick="clearParentInput();"><i class="fas fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    {#search/image/imageSelectFormInput}
                    {/search/image/imageSelectFormInput}
                    {#inputs/capacityInput}
                    {/inputs/capacityInput}
                    {#inputs/keywordInput}
                    {/inputs/keywordInput}
                    {#inputs/attInput}
                    {/inputs/attInput}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="addEditStorageForm" class="btn btn-success"
                        id="addEditFormSubmitButton"></button>
            </div>
        </div>
    </div>
</div>
{#search/storage/StorageSearchSelectModal otherModalId="addEditModal"}
{/search/storage/StorageSearchSelectModal}
{#search/image/imageSearchSelectModal otherModalId="addEditModal"}
{/search/image/imageSearchSelectModal}

{#modal id='storageBlockView' large=true title='Storage Block View'}
    <div class="row">
        {#carousel id='storageBlockViewCarousel' carouselCss='col'}{/carousel}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Location in storage:</h5>
                    <div id="storageBlockViewBreadcrumbContainer">
                    </div>
                </div>
            </div>
            <div class="card" id="storageBlockViewLocationContainer">
                <div class="card-body">
                    <h5 class="card-title">Location:</h5>
                    <p class="card-text" id="storageBlockViewLocation"></p>
                </div>
            </div>
            <div class="card" id="storageBlockViewCapacityContainer">
                <div class="card-body">
                    <h5 class="card-title">Capacities:</h5>
                    <div id="storageBlockViewCapacity">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        {#objView/objKeywordsView id='viewKeywordsSection' classes='col'}{/objView/objKeywordsView}
        {#objView/objAttsView id='viewAttsSection' classes='col'}{/objView/objAttsView}
    </div>
    <div class="row">
        <div class="col">
            {#objView/objHistoryView containerId='storageBlockHistory'}{/objView/objHistoryView}
        </div>
    </div>
{/modal}

{/modals}

{#scripts}
<script src="/res/js/search.js"></script>
<script src="/res/js/obj/objEdit.js"></script>
<script src="/res/js/obj/objView.js"></script>
<script src="/res/js/obj/storageBlock/storageSearchSelect.js"></script>
<script src="/res/js/obj/media/imageSearchSelect.js"></script>
<script src="/res/js/obj/units.js"></script>
<script src="/res/js/obj/getters.js"></script>
<script src="/res/js/obj/storageBlock/capacities.js"></script>
<script src="/res/js/carousel.js"></script>

<script src="/lib/treant-js/vendor/raphael.js"></script>
<script src="/lib/treant-js/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/lib/treant-js/vendor/jquery.easing.js"></script>
<script src="/lib/treant-js/Treant.js"></script>
<script src="/res/js/obj/storageBlock/storageBlockTree.js"></script>
{/scripts}
    {#pageScript}
{!
<script> !}

function removeStorageBlock(blockId){
    if(!confirm("Are you sure you want to delete this storage block? This cannot be undone.")){
        return;
    }

    console.log("Removing storage block " + blockId);

    var result = false;
    doRestCall({
            url: "/api/storage/" + blockId,
            method: "DELETE",
            async: false,
            done: function(data) {
                console.log("Response from remove request: " + JSON.stringify(data));
                result = true;
            },
            fail: function(data) {
                console.warn("Bad response from token check attempt: " + JSON.stringify(data));
            }
        });

if(!result){
        addMessageToDiv(addEditFormMessages, "danger", "Failed to remove storage block.", "Failed", null);
    } else {
        reloadPageWithMessage("Removed storage block successfully!", "success", "Success!");
    }

}


var addEditStorageForm = $("#addEditStorageForm");
var addEditModalTitleText = $("#addEditModalTitleText");
var addEditFormSubmitButton = $("#addEditFormSubmitButton");
var addEditFormMessages = $("#addEditFormMessages");
//inputs
var addEditFormMode = $("#addEditFormMode");
var addEditFormId = $("#addEditFormId");
var addEditLabelInput = $("#addEditLabelInput");
var addEditLocationInput = $("#addEditLocationInput");
var addEditParentIdInput = $("#addEditParentInputId");
var imagesSelected = $("#imagesSelected");
var capacityInputDiv = addEditStorageForm.find(".capacityInputDiv");

var keywordInputDiv = addEditStorageForm.find(".keywordInputDiv");
var attInputDiv = addEditStorageForm.find(".attInputDiv");

function resetAddEdit(){
    addEditStorageForm.trigger("reset");
    imagesSelected.html("");
}


function setupAddEditForAdd(){
    console.log("Setting up add/edit form for add.");
    resetAddEdit();
    addEditFormMode.val("add");
    addEditModalTitleText.text("Add");
    addEditFormSubmitButton.html('<i class="fas fa-plus"></i> Add Storage Block');
}

addEditStorageForm.submit(function(event){
    event.preventDefault();
    console.log("Submitting add/edit form.");

    var addEditData = {
        label: addEditLabelInput.val(),
        location: addEditLocationInput.val(),
        capacityMeasures: [],
        imageIds: []
    };

    addKeywordAttData(addEditData, keywordInputDiv, attInputDiv);

    capacityInputDiv.each(function(i, curCapDiv){
        var cur = $(curCapDiv);
        addEditData.capacityMeasures.push({
            value: cur.find(".capacityInput")[0].value,
            unit: cur.find(".unitSelect").find(":selected")[0].value,
            scale: "ABSOLUTE"
        });
    });

    imagesSelected.find("img").each(function(i, curImg){
        addEditData.imageIds.push($(curImg).attr('data-bs-imageId'));
    });


    if(addEditParentIdInput.val()){
        addEditData.parent = addEditParentIdInput.val();
    }

    var result = false;
    if(addEditFormMode.val() == "add"){
        console.log("Adding new storage block.");
        doRestCall({
            url: "/api/storage",
            method: "POST",
            data: addEditData,
            async: false,
            done: function(data) {
                console.log("Response from create request: " + JSON.stringify(data));
                result = true;
            },
            fail: function(data) {
                console.warn("Bad response from token check attempt: " + JSON.stringify(data));
            }
        });
    }

    if(!result){
        addMessageToDiv(addEditFormMessages, "danger", "Failed to do action.", "Failed", null);
    } else {
        reloadPageWithMessage("Created storage block successfully!", "success", "Success!");
    }
});
fillInQueryForm($("#mainStorageSearch"));

var storageBlockViewModal = $('#storageBlockViewModal');
var storageBlockViewModalLabel = $('#storageBlockViewModalLabel');
var storageBlockViewCarousel = $('#storageBlockViewCarousel');
var storageBlockHistory = $('#storageBlockHistory');
var storageBlockViewLocationContainer = $('#storageBlockViewLocationContainer');
var storageBlockViewCapacityContainer = $('#storageBlockViewCapacityContainer');
var storageBlockViewLocation = $('#storageBlockViewLocation');
var storageBlockViewCapacity = $('#storageBlockViewCapacity');
var viewKeywordsSection = $('#viewKeywordsSection');
var viewAttsSection = $('#viewAttsSection');
var storageBlockViewBreadcrumbContainer = $('#storageBlockViewBreadcrumbContainer');

function resetView(){
    storageBlockViewLocationContainer.hide();
    storageBlockViewLocation.text('');
    storageBlockViewBreadcrumbContainer.text('');

    storageBlockViewCapacity.text('');
    storageBlockViewCapacityContainer.hide();

    storageBlockViewModalLabel.text("");
    storageBlockHistory.text('');
    clearCarousel(storageBlockViewCarousel);
    clearHideKeywordDisplay(viewKeywordsSection);
    clearHideAttDisplay(viewAttsSection);
}

function setupView(blockId){
    console.log("Setting up view for storage block " + blockId);
    resetView();
    storageBlockViewModalLabel.text(blockId);
    getBlockBreadcrumbs(storageBlockViewBreadcrumbContainer, blockId);

    doRestCall({
    	spinnerContainer: storageBlockViewModal,
    	url: "/api/storage/" + blockId,
    	done: function(data){
            processKeywordDisplay(viewKeywordsSection, data.keywords);
            processAttDisplay(viewAttsSection, data.attributes);
            displayObjHistory(storageBlockHistory, data.history);
            storageBlockViewModalLabel.text(data.label);

            if(data.location){
                storageBlockViewLocation.text(data.location);
                storageBlockViewLocationContainer.show();
            }
            if(data.capacityMeasures.length){
                data.capacityMeasures.forEach(function(curCapacity){
                    storageBlockViewCapacity.append('<span class="badge bg-secondary m-2 user-select-all">'+curCapacity.value+curCapacity.unit+'</span>');
                });
                storageBlockViewCapacityContainer.show();
            }

            if(data.imageIds.length){
                console.log("Storage block had images to show.");
                storageBlockViewCarousel.show();
                var carouselData = [];

                data.imageIds.forEach(function(id, i){
                    doRestCall({
    	                spinnerContainer: storageBlockViewCarousel[0],
    	                url: "/api/media/image/" + id,
    	                async: false,
    	                done: function(data){
                            carouselData.push({
                                src: "/api/media/image/" + id + "/data",
                                alt: data.title,
                                captionHeading: data.title,
                                caption: data.description
                            });
    	                }
    	            });
                });

                setCarouselImages(storageBlockViewCarousel, carouselData);
            } else {
                console.log("Storage block had no images to show.");
                storageBlockViewCarousel.hide();
            }

    	},
    	fail: function(){}
    });

}

showTree("#mainTreeChart");
{!
</script> !}
{/pageScript}

    {/include}