{@com.ebp.openQuarterMaster.baseStation.service.mongo.search.SearchResult searchResult}
{@com.ebp.openQuarterMaster.baseStation.service.mongo.search.PagingCalculations pagingCalculations}
{@java.util.Map allowedUnitsMap}
{#include webui/mainWebPageTemplate showNavbar=true showTitle=true title='Storage' titleIcon='boxes' page='storage'}
{!
Accepts:
- showSearch: bool, to have the search form expanded already
- numStorageBlocks: int, the number of storage blocks in the system
- allowedUnitsMap- Map
<String, List
<Unit>> the map of allowed units
    !}
    {#pageStyle}

    {/pageStyle}
    {#pageContent}

    <div class="row">
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addEditModal"
                    onclick="setupAddEditForAdd();"><i class="fas fa-plus"></i> Add Storage Block
            </button>
        </div>
        <div class="col d-grid gap-2">
            <button type="button" class="btn btn-info"><i class="fas fa-eye"></i> Storage block stats</button>
        </div>
</div>
<br/>
<div class="row">
    <div class="col accordion" id="searchAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="searchHeader">
                <button class="accordion-button {#if !showSearch}collapsed{/if}" type="button" data-bs-toggle="collapse"
                        data-bs-target="#searchCollapse" aria-expanded="{#if showSearch}true{#else}false{/if}"
                        aria-controls="searchCollapse">
                    <i class="fas fa-search"></i> Search Fields
                </button>
            </h2>
            <div id="searchCollapse" class="accordion-collapse collapse {#if showSearch}show{/if}"
                 aria-labelledby="searchHeader" data-bs-parent="#searchAccordion">
                <div class="accordion-body">
                    {#search/storage/StorageSearchForm id='mainStorageSearch'}
                    {/search/storage/StorageSearchForm}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col table-responsive">
        <table class=" table table-bordered table-striped table-hover table-sm">
            {#search/storage/storageSearchResults searchResults=searchResult actionType='full' searchFormId='mainStorageSearch' pagingCalculations=pagingCalculations}
            {/search/storage/storageSearchResults}
        </table>
    </div>
</div>

    {/pageContent}
{#modals}

    {!
{#include webui/bootstrapComponents/modal}
{title}Add/Edit Storage Block{/title}
{/include}
!}
<div class="modal fade" tabindex="-1" id="addEditModal" aria-labelledby="addEditModalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEditModalTitle"><span id="addEditModalTitleText">Add/Edit</span> Storage
                    Block</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="addEditFormMessages">

                </div>
                <form id="addEditStorageForm">
                    <input type="hidden" id="addEditFormMode" value="">
                    <div class="mb-3 row">
                        <label for="addEditLabelInput" class="col-sm-2 col-form-label">Label</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="addEditLabelInput" placeholder="Label" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="addEditLocationInput" class="col-sm-2 col-form-label">Location</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="addEditLocationInput" placeholder="Location">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="addEditParentInputName" class="col-sm-2 col-form-label">Parent</label>
                        <input type="hidden" id="addEditParentInputId">
                        <div class="col-sm-10">
                            <div class="input-group">
                                <button class="btn btn-outline-secondary" type="button"  data-bs-toggle="modal" data-bs-target="#storageSearchSelectModal" onclick="setupStorageSearchModal('addEditParentInput');"><i class="fas fa-search"></i></button>
                                <input type="text" class="form-control" id="addEditParentInputName" placeholder="Parent" disabled>
                                <button class="btn btn-outline-secondary" type="button" onclick="clearParentInput();"><i class="fas fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    {#search/image/imageSelectFormInput}
                    {/search/image/imageSelectFormInput}
                    <!-- TODO:: Capacity measures -->

                    {#inputs/keywordInput}
                    {/inputs/keywordInput}
                    {#inputs/attInput}
                    {/inputs/attInput}

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="addEditStorageForm" class="btn btn-success"
                        id="addEditFormSubmitButton"></button>
            </div>
        </div>
    </div>
</div>
{#search/storage/StorageSearchSelectModal otherModalId="addEditModal"}
{/search/storage/StorageSearchSelectModal}
{#search/image/imageSearchSelectModal otherModalId="addEditModal"}
{/search/image/imageSearchSelectModal}

{/modals}

{#scripts}
<script src="/res/js/search.js"></script>
<script src="/res/js/objEdit.js"></script>
<script src="/res/js/objView.js"></script>
<script src="/res/js/storageSearchSelect.js"></script>
<script src="/res/js/imageSearchSelect.js"></script>
{/scripts}
    {#pageScript}
{!
<script> !}

function removeStorageBlock(blockId){
    if(!confirm("Are you sure you want to delete this storage block? This cannot be undone.")){
        return;
    }

    console.log("Removing storage block " + blockId);

    var result = false;
    doRestCall({
            url: "/api/storage/" + blockId,
            method: "DELETE",
            async: false,
            done: function(data) {
                console.log("Response from remove request: " + JSON.stringify(data));
                result = true;
            },
            fail: function(data) {
                console.warn("Bad response from token check attempt: " + JSON.stringify(data));
            }
        });

if(!result){
        addMessageToDiv(addEditFormMessages, "danger", "Failed to remove storage block.", "Failed", null);
    } else {
        reloadPageWithMessage("Removed storage block successfully!", "success", "Success!");
    }

}





var addEditStorageForm = $("#addEditStorageForm");
var addEditModalTitleText = $("#addEditModalTitleText");
var addEditFormSubmitButton = $("#addEditFormSubmitButton");
var addEditFormMessages = $("#addEditFormMessages");
//inputs
var addEditFormMode = $("#addEditFormMode");
var addEditFormId = $("#addEditFormId");
var addEditLabelInput = $("#addEditLabelInput");
var addEditLocationInput = $("#addEditLocationInput");
var addEditParentIdInput = $("#addEditParentInputId");
var imagesSelected = $("#imagesSelected");

//var addEditKeywordsInput = $("#addEditKeywordsInput");

function resetAddEdit(){
    addEditStorageForm.trigger("reset");
    imagesSelected.html("");
}


function setupAddEditForAdd(){
    console.log("Setting up add/edit form for add.");
    resetAddEdit();
    addEditFormMode.val("add");
    addEditModalTitleText.text("Add");
    addEditFormSubmitButton.html('<i class="fas fa-plus"></i> Add Storage Block');
}

addEditStorageForm.submit(function(event){
    event.preventDefault();
    console.log("Submitting add/edit form.");

    var addEditData = {
        label: addEditLabelInput.val(),
        location: addEditLocationInput.val(),
        imageIds: []
    };

    imagesSelected.find(":input").each(function(i, curInput){
        addEditData.imageIds.push(curInput.value);
    });

    // var keywordValue = addEditKeywordsInput.val().trim()
    // if(keywordValue){
    //     addEditData.keywords = addEditKeywordsInput.val().split(",");
    // }

    if(addEditParentIdInput.val()){
        addEditData.parent = addEditParentIdInput.val();
    }

    var result = false;
    if(addEditFormMode.val() == "add"){
        console.log("Adding new storage block.");
        doRestCall({
            url: "/api/storage",
            method: "POST",
            data: addEditData,
            async: false,
            done: function(data) {
                console.log("Response from create request: " + JSON.stringify(data));
                result = true;
            },
            fail: function(data) {
                console.warn("Bad response from token check attempt: " + JSON.stringify(data));
            }
        });
    }

    if(!result){
        addMessageToDiv(addEditFormMessages, "danger", "Failed to do action.", "Failed", null);
    } else {
        reloadPageWithMessage("Created storage block successfully!", "success", "Success!");
    }
});
fillInQueryForm($("#mainStorageSearch"));


{!
</script> !}
{/pageScript}

    {/include}