{@tech.ebp.oqm.baseStation.service.mongo.search.SearchResult<tech.ebp.oqm.baseStation.model.object.interactingEntity.user.User> searchResults}
{@tech.ebp.oqm.baseStation.service.mongo.search.PagingCalculations pagingCalculations}
{#include webui/mainWebPageTemplate navbar="full"  showTitle=true title="User Administration" page='userAdmin'}
	{#styleSheets}
	{/styleSheets}
	{#pageStyle}
	
	{/pageStyle}
	{#pageContent}
	<div class="row">
    <div class="col accordion" id="searchAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="searchHeader">
                <button class="accordion-button {#if !showSearch}collapsed{/if}" type="button" data-bs-toggle="collapse"
                        data-bs-target="#searchCollapse" aria-expanded="{#if showSearch}true{#else}false{/if}"
                        aria-controls="searchCollapse">
                    Search Fields
                </button>
            </h2>
            <div id="searchCollapse" class="accordion-collapse collapse {#if showSearch}show{/if}"
                 aria-labelledby="searchHeader" data-bs-parent="#searchAccordion">
                <div class="accordion-body">
        {#include tags/search/searchForm id="userSearchForm" action='/userAdmin' showKeywords=true showAttributes=true}
        
        {/include}
                </div>
            </div>
        </div>
    </div>
</div>
		<div class="row">
    <div class="col table-responsive">
        <table class=" table table-bordered table-striped table-hover table-sm">
		<thead>
		<tr>
			<td colspan="7" class="text-center">
				{#paginationButtons searchFormId="userSearchForm" pagingCalculations=pagingCalculations}{/paginationButtons}
			</td>
		</tr>
		<tr>
			<th scope="col">Username</th>
			<th scope="col">Title</th>
			<th scope="col">Email</th>
			<th scope="col">Firstname</th>
			<th scope="col">Lastname</th>
			<th scope="col">Disabled?</th>
			<th scope="col" width="150px">Actions</th>
		</tr>
		</thead>
		<tbody>
		{#if searchResults.getResults().isEmpty()}
			<tr>
			<td colspan="6" class="text-center">
			<h2>
				No Users. How did you get this? please contact the devs.
			</h2>
			</td>
			</tr>
			{#else}
				{#for result in searchResults.getResults()}
					<tr class="itemResultRow align-middle {#if result.isDisabled()}table-danger{/if}">
					<td>{result.getUsername()}</td>
					<td>{result.getTitle()}</td>
					<td>{result.getEmail()}</td>
					<td>{result.getFirstName()}</td>
					<td>{result.getLastName}</td>
					<td>{result.isDisabled()}</td>
					<td>
					<button type="button" class="btn btn-sm btn-primary" title="View User" data-bs-toggle="modal" data-bs-target="#userViewModal" onclick="setupUserView('{result.getId()}');">
						{#icons/view}{/icons/view}
					</button>
					<button type="button" class="btn btn-sm btn-warning" title="Edit User" data-bs-toggle="modal" data-bs-target="#userEditModal" onclick="setupUserEdit('{result.getId()}');">
						{#icons/edit}{/icons/edit}
					</button>
					{#if result.isDisabled()}
					<button type="button" class="btn btn-sm btn-success" title="Enable User" onclick="enableUser('{result.getId()}');">
						{#icons/icon icon='hand-thumbs-up-fill'}{/icons/icon}
					</button>
					{#else}
						<button type="button" class="btn btn-sm btn-danger" title="Disable User" onclick="disableUser('{result.getId()}');">
							{#icons/icon icon='hand-thumbs-down-fill'}{/icons/icon}
						</button>
					{/if}
					</td>
					</tr>
				{/for}
		{/if}
		</tbody>
		<tfoot>
		<tr>
		<td colspan="7" class="text-center">
		{#paginationButtons searchFormId="userSearchForm" pagingCalculations=pagingCalculations}{/paginationButtons}
		</td>
	</tr>
		</tfoot>
        </table>
    </div>
</div>
	{/pageContent}
	{#modals}
		{#modal id='userView' size='xl' title='User View'}
			<div class="row">
				<div class="col" id="userViewMessages">
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Name:</h5>
							<div id="userViewName">
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Username:</h5>
							<div id="userViewUsername">
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Email:</h5>
							<div id="userViewEmail">
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Title:</h5>
							<div id="userViewTitle">
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Disabled?:</h5>
							<div id="userViewDisabled">
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Roles:</h5>
							<div id="userViewRoles">
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr />
			<div class="row">
			{#objView/objKeywordsView id='viewKeywordsSection' classes='col'}{/objView/objKeywordsView}
			{#objView/objAttsView id='viewAttsSection' classes='col'}{/objView/objAttsView}
		</div>
		<div class="row">
		<div class="col">
		{#objView/history/objHistoryView containerId='userHistory' objectUrl='/api/v1/user/'}{/objView/history/objHistoryView}
	</div>
	</div>
	{/modal}
{#modal id='userEdit' size='xl' title='User edit' submitForm='userEditItemForm' submitDismiss=false}
	<div class="row">
		<div class="col" id="userEditFormMessages">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<form id="userEditItemForm">
				<input type="hidden" id="userEditFormUserId" value="">
				<div class="mb-3 row">
					<label class="col-sm-2 col-form-label">Roles</label>
					<div class="col-sm-10" id="userEditRolesInputs">
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" id="userRoleDisabledInput" role="switch" checked disabled>
							<label class="form-check-label" for="userRoleDisabledInput">user</label>
						</div>
						{#for roleEntry in selectableRolesMap}
						<div class="form-check form-switch">
							<input class="form-check-input roleInput" type="checkbox" role="switch" id="userRoleInput{roleEntry.key()}" value="{roleEntry.key()}">
							<label class="form-check-label" for="userRoleInput{roleEntry.key()}">{roleEntry.key()} - <span class="fw-lighter">{roleEntry.value()}</span></label>
						</div>
						{/for}
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col">
						{#inputs/keywordInput}
						{/inputs/keywordInput}
					</div>
				</div>
				<div class="row">
					<div class="col">
						{#inputs/attInput}
						{/inputs/attInput}
					</div>
				</div>
			</form>
		</div>
	</div>

	{/modal}
	{/modals}
	{#scripts}
		<script src="/res/js/search.js"></script>
		<script src="/res/js/historySearch.js"></script>
		<script src="/res/js/obj/objView.js"></script>
		<script src="/res/js/obj/objEdit.js"></script>
	{/scripts}
	{#pageScript}
		<script>
			var userViewModalLabel = $("#userViewModalLabel");
			var userViewMessages = $("#userViewMessages");
			var userViewName = $("#userViewName");
			var userViewUsername = $("#userViewUsername");
			var userViewEmail = $("#userViewEmail");
			var userViewTitle = $("#userViewTitle");
			var userViewDisabled = $("#userViewDisabled");
			var userViewRoles = $("#userViewRoles");
			var viewKeywordsSection = $("#viewKeywordsSection");
			var viewAttsSection = $("#viewAttsSection");
			
			var userHistoryAccordionCollapse = $("#userHistoryAccordionCollapse");
			
			function resetUserView(){
				userViewMessages.text("");
				userViewModalLabel.text("");
				userViewName.text("");
				userViewUsername.text("");
				userViewEmail.text("");
				userViewTitle.text("");
				userViewDisabled.text("");
				userViewRoles.text("");
				
				resetHistorySearch(userHistoryAccordionCollapse);

				clearHideKeywordDisplay(viewKeywordsSection);
				clearHideAttDisplay(viewAttsSection);
			}
			
			function setupUserView(userId){
				resetUserView();
				doRestCall({
					url: "/api/v1/user/" + userId,
					method: "GET",
					failMessagesDiv: userViewMessages,
					done: function (data) {
						userViewModalLabel.text(data.username);
						userViewName.text(data.firstName + " " + data.lastName);
						userViewUsername.text(data.username);
						userViewEmail.text(data.email);
						userViewTitle.text(data.title);
						userViewDisabled.text(data.disabled?"Yes":"No");
						
						let roleData = "";
						data.roles.forEach(function(curRole){
							roleData += '<span class="user-select-all badge bg-secondary">'+curRole+'</span>';
						});
						userViewRoles.html(roleData);

						processKeywordDisplay(viewKeywordsSection, data.keywords);
						processAttDisplay(viewAttsSection, data.attributes);
					}
				});
				setupHistorySearch(userHistoryAccordionCollapse, userId);

			}
			
			
			
			function enableUser(userId){
				doRestCall({
					url: "/api/v1/user/" + userId,
					method: "GET",
					failMessagesDiv: PageMessages.mainMessageDiv,
					done: function (data){
						let confirmMessage = "Are you sure? User "+data.username+" currently has the following roles:\n"

						data.roles.forEach(function (role){
							confirmMessage += "\t" + role + "\n"
						});

						if(!confirm(confirmMessage)){
							return;
						}

						doRestCall({
							url: "/api/v1/user/" + userId,
							method: "PUT",
							data: {
								disabled: false
							},
							done: function (data) {
								PageMessages.reloadPageWithMessage("Enabled user "+data.username+"!", "success", "Success!");
							}
						});
					}
				});
			}
			function disableUser(userId){
				doRestCall({
					url: "/api/v1/user/" + userId,
					method: "GET",
					failMessagesDiv: PageMessages.mainMessageDiv,
					done: function (data){
						if(!confirm("Are you sure? User "+data.username+" will no longer have access.")){
							return;
						}

						doRestCall({
							url: "/api/v1/user/" + userId,
							method: "PUT",
							data: {
								disabled: true
							},
							fail: function (data){
								alert("Error: " + data);
							},
							done: function (data) {
								PageMessages.reloadPageWithMessage("Disabled user "+data.username+"!", "success", "Success!");
							}
						});
					}
				});
			}
			
			var userEditItemForm = $("#userEditItemForm");
			var userEditFormMessages = $("#userEditFormMessages");
			var userEditModalLabel = $("#userEditModalLabel");
			var userEditFormUserId = $("#userEditFormUserId");
			var userEditRolesInputs = $("#userEditRolesInputs");
			
			var userEditKeywordDiv = userEditItemForm.find(".keywordInputDiv");
			var userEditAttDiv = userEditItemForm.find(".attInputDiv");

			var userEditRolesInputsMap = { };

			userEditRolesInputs.find(".roleInput").each(function (i, selectInput){
				userEditRolesInputsMap[selectInput.value] = $(selectInput);
			});
			
			function resetUserEditForm(){
				userEditFormMessages.text("");
				userEditModalLabel.text("");
				userEditFormUserId.val("");
				for (const [key, input] of Object.entries(userEditRolesInputsMap)) {
					input.prop("checked", false);
				}

				userEditKeywordDiv.text("");
				userEditAttDiv.text("");
			}

			function setupUserEdit(userId){
				resetUserEditForm();
				userEditFormUserId.val(userId);

				doRestCall({
					url: "/api/v1/user/" + userId,
					method: "GET",
					fail: function (data) {
						alert("Error: " + data);
					},
					done: function (data) {
						addKeywordInputs(userEditKeywordDiv, data.keywords);
						addAttInputs(userEditAttDiv, data.attributes);
						data.roles.forEach(function (role){
							let curRoleInput = userEditRolesInputsMap[role];
							
							if(curRoleInput == undefined){
								return
							}
							curRoleInput.prop("checked", true);
						});
					}
				});
			}

			userEditItemForm.on("submit", function(e){
				e.preventDefault();
				
				let data = {
					roles: ["user"]
				};

				addKeywordAttData(data, userEditKeywordDiv, userEditAttDiv);

				for (const [key, input] of Object.entries(userEditRolesInputsMap)) {
					if(input.prop("checked")){
						data.roles.push(key);
					}
				}
				
				doRestCall({
					url: "/api/v1/user/" + userEditFormUserId.val(),
					method: "PUT",
					data: data,
					failMessagesDiv: userEditFormMessages,
					done: function (data) {
						PageMessages.reloadPageWithMessage("Updated user "+data.username+"!", "success", "Success!");
					}
				});
			});
		</script>
	{/pageScript}
{/include}