{#include webui/mainWebPageTemplate showNavbar=true showTitle=true title="User Administration" titleIcon='users-gear' page='userAdmin'}
    {#pageStyle}
    
    {/pageStyle}
    {#pageContent}
        <div class="row">
            <div class="col">
                TODO:
                
                - enable/disable users
                - manage user roles
            
            </div>
        </div>
    
    {/pageContent}
    {#pageScript}
        <script>
        
        </script>
    {/pageScript}
{/include}