# Service file for running an instance of Apache Kafka.
#  Author: Greg Stewart
#  https://www.freedesktop.org/software/systemd/man/systemd.service.html
#
#  Kafka tags: https://hub.docker.com/r/apache/kafka/tags
#
# TODO:: figure out better username/password situation

[Unit]
Description=Apache Kafka server for Open Quartermaster. Version ${version}, using Red Panda Kafka tagged to "v23.3.9".
Documentation=https://github.com/Epic-Breakfast-Productions/OpenQuarterMaster/tree/main/software/Infrastructure
After=docker.service
Wants=network-online.target docker.socket
Requires=docker.socket

[Service]
Type=simple
Restart=always
TimeoutStartSec=600
Environment="CONTAINER_NAME=oqm-infra-kafka-rp"
Environment="IMAGE_NAME=docker.redpanda.com/redpandadata/redpanda"
Environment="IMAGE_VERSION=v23.3.9"
#Environment="ENV_CONFIG_FILE=/tmp/oqm/serviceConfig/infra/mongodb/env.list"
ExecStartPre=/bin/bash -c "oqm-captain container ensure-setup"
ExecStartPre=/bin/bash -c "/usr/bin/docker stop -t 10 $CONTAINER_NAME || echo 'Could not stop kafka container'"
ExecStartPre=/bin/bash -c "/usr/bin/docker rm $CONTAINER_NAME || echo 'Could not remove kafka container'"
ExecStartPre=/bin/bash -c "/usr/bin/docker pull $IMAGE_NAME:$IMAGE_VERSION || echo 'Could not pull image.'"

ExecStart=/bin/bash -c "/usr/bin/docker run --rm \
                                        --name $CONTAINER_NAME \
                                        --network=oqm-internal \
                                        --health-cmd=\"rpk cluster health | grep 'Healthy:' | grep 'true'\" \
                                        --health-interval=10s \
                                        --health-timeout=10s \
                                        --health-retries=5 \
                                        --health-start-period=20s \
                                        $IMAGE_NAME:$IMAGE_VERSION redpanda start \
                                        --kafka-addr internal://0.0.0.0:9092,external://0.0.0.0:19092 \
                                        --advertise-kafka-addr internal://$CONTAINER_NAME:9092,external://localhost:19092 \
                                        --rpc-addr $CONTAINER_NAME:33145 \
                                        --advertise-rpc-addr $CONTAINER_NAME:33145 \
                                        --default-log-level=info"
# Ensure is up, healthy
ExecStartPost=/bin/bash -c "running=\"false\"; \
                            while [ \"$running\" != \"true\" ]; do \
                                status=\"$(docker container inspect $CONTAINER_NAME -f {{.State.Health.Status}} 2> /dev/null)\"; \
                                if [ \"$status\" == \"healthy\" ]; then \
                                    echo \"Container running!\"; \
                                    running=\"true\"; \
                                    continue; \
                                fi; \
                                sleep 0.05s; \
                                if [ $SECONDS -gt 30 ]; then \
                                    echo \"Container not running after 30 seconds!\"; \
                                    exit 1; \
                                fi; \
                            done; \
                            "
ExecStop=/bin/bash -c "/usr/bin/docker stop -t 10 $CONTAINER_NAME || echo 'Could not stop kafka container'"
ExecStopPost=/bin/bash -c "/usr/bin/docker rm $CONTAINER_NAME || echo 'Could not remove kafka container'"

[Install]
WantedBy=multi-user.target
