<html lang="en">
<head>
	<title>OQM API</title>
</head>
<body>
<main>
	<img src="{config:['quarkus.http.root-path']}media/logo.svg" alt="OQM Logo">
	<h1>
		OQM Core API
	</h1>
	<p>
		This service serves the core api forming the base functionality of the Open QuarterMaster system.
	</p>
	<p>
		See <a href="/q/swagger-ui">Swagger</a> for API documentation.
	</p>
	{#if config:['runningInfo.depotUri'] != " "}
	<p>
		<a href="{config:['runningInfo.depotUri']}">Back to Depot</a>
	</p>
	{/if}
</main>
<hr />
<footer>
	<p>
		Version {config:['service.version']}
	</p>
	<p>
		&copy; 2024 <a href="https://epic-breakfast-productions.tech">EBP</a>
	</p>
</footer>
</body>
</html>