<div class="col-3 card p-0 m-1">
    <div class="card-header">
        <a href="{providerInfo.get("homepage").asText()}" target="_blank">
            {providerInfo.get("displayName").asText()}
        </a>
    </div>
    <ul class="list-group list-group-flush">
        {#if !providerInfo.get("cost").asText().isBlank()}
            <li class="list-group-item">
                {#icons/icon icon='cash-stack'}{/icons/icon} {providerInfo.get("cost").asText()}
            </li>
        {/if}
        <li class="list-group-item">
            {#icons/icon icon='globe'}{/icons/icon} {providerInfo.get("acceptsContributions").asBoolean() ? 'Accepts contributions' : 'No community input'}
        </li>
        <li class="list-group-item">
            {#if providerInfo.get("enabled").asBoolean()}
                {#icons/icon icon='check-circle'}{/icons/icon} Enabled
            {#else}
                {#icons/icon icon='x-circle'}{/icons/icon} Disabled
            {/if}
        </li>
        {#if !providerInfo.get("description").asText().isBlank()}
            <li class="list-group-item">{providerInfo.get("description").asText()}</li>
        {/if}
    </ul>
</div>