# Service file for running an instance of the Open QuarterMaster Base Station.
#  Author: Greg Stewart
#  https://www.freedesktop.org/software/systemd/man/systemd.service.html
#
#  OQM Base Station tags: https://hub.docker.com/repository/docker/ebprod/open-qm-base-station/tags
#
[Unit]
Description=Open QuarterMaster Base Station server for Open Quartermaster. Version ${version}.
Documentation=https://github.com/Epic-Breakfast-Productions/OpenQuarterMaster/tree/main/software/open-qm-base-station
After=docker.service
Wants=network-online.target docker.socket
Requires=docker.socket open\x2bquarter\x2bmaster\x2dinfra\x2dmongodb.service

[Service]
Type=simple
Restart=always
TimeoutSec=5m

# Ensure previous runs gone
ExecStartPre=/bin/bash -c "/usr/bin/docker stop -t 10 oqm_core_base_station || echo 'Could not stop base station container'"
ExecStartPre=/bin/bash -c "/usr/bin/docker rm oqm_core_base_station || echo 'Could not remove base station container'"
# Create filled out configuration
ExecStartPre=/bin/bash -c "mkdir -p /tmp/oqm/serviceConfig/core/base+station/"
ExecStartPre=/bin/bash -c "/usr/bin/oqm-config -t /etc/oqm/serviceConfig/core/base+station/base-station-config.list > /tmp/oqm/serviceConfig/core/base+station/base-station-config.list"
ExecStartPre=/bin/bash -c "/usr/bin/oqm-config -t /etc/oqm/serviceConfig/core/base+station/user-config.list >> /tmp/oqm/serviceConfig/core/base+station/base-station-config.list"

# Pull image as separate task
ExecStartPre=/bin/bash -c "/usr/bin/docker pull ebprod/open-qm-base-station:${version} || echo 'Could not pull image.'"
# Run Base Station
ExecStart=/bin/bash -c "/usr/bin/docker run --name oqm_core_base_station \
                                        -p 80:80 -p 443:443 \
                                        -v /etc/oqm/serviceConfig/core/base+station/files:/etc/oqm/serviceConfig/core/base+station/files \
                                        --env-file /tmp/oqm/serviceConfig/core/base+station/base-station-config.list \
                                        --add-host host.docker.internal:host-gateway \
                                        ebprod/open-qm-base-station:${version}"
# Ensure is up
ExecStartPost=/bin/bash -c "running=\"false\"; \
                            while [ \"$running\" != \"true\" ]; do \
                                sleep 1s; \
                                hcGet=\"$(/usr/bin/curl -k \"https://localhost/q/health\")\"; \
                                echo \"Health check get: $hcGet\"; \
                                status=\"$(jq --argjson hcGet \"$hcGet\" -nr '$hcGet.status')\"; \
                                echo \"Status: $status\"; \
                                if [ \"$status\" = \"UP\" ]; then \
                                    echo \"Base Station running and available!\"; \
                                    running=\"true\"; \
                                fi \
                            done \
                            "
# Remove from docker
ExecStop=/bin/bash -c "/usr/bin/docker stop -t 10 oqm_core_base_station || echo 'Could not stop base station container'"
ExecStopPost=/bin/bash -c "/usr/bin/docker rm oqm_core_base_station || echo 'Could not remove base station container'"

[Install]
WantedBy=multi-user.target
