[Desktop Entry]
Name=Open QuarterMaster Base Station
GenericName=Open QuarterMaster Base Station

Comment=Quick link to open the Open QuarterMaster

Exec=bash -c 'xdg-open https://$(hostname).local'
Icon=/etc/oqm/static/oqm-icon.svg
Terminal=false

Type=Application
Categories=Office;Database;Core
