[Desktop Entry]
Name=OQM Base Station
GenericName=Base Station - OQM

Comment=Quick link to open the Open QuarterMaster

Exec=bash -c 'xdg-open $(oqm-config -g core.baseStation.externalBaseUri)'
Icon=/etc/oqm/static/oqm-icon.svg
Terminal=false

Type=Application
Categories=Office;Database;Core
