{#modal id='itemCheckin' size='sm' title='Checkin Item'}
	{#titleIcon}{#icons/checkin}{/icons/checkin}{/titleIcon}
	<div class="row">
		<div class="col" id="itemCheckinMessages">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h5>
				Item:
			</h5>
			<p id="itemCheckinItemNameLabel">
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h5>
				Originally checked out from:
			</h5>
			<p id="itemCheckinOriginalStorageLabelLabel">
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col" id="itemCheckinStoredDetails">
		</div>
	</div>
	<hr />
	<div class="row">
		<form class="col" id="itemCheckinForm">
			<input type="hidden" id="itemCheckinFormCheckinIdInput" value="">
			
			<div class="mb-3">
				<label class="form-label" for="itemCheckinFormTypeInput">Type:</label>
				<select id="itemCheckinFormTypeInput" class="form-select" aria-describedby="itemCheckinFormTypeInputHelp" onchange="ItemCheckin.setCheckinTypeView();" required>
					<option value="RETURN">Return</option>
					<option value="LOSS">Loss</option>
				</select>
				<div id="itemCheckinFormTypeInputHelp" class="form-text">
					If the checkout is being returned or marked as a loss.
				</div>
			</div>
			<div class="mb-3" id="itemCheckinFormIntoInputContainer">
				<label class="form-label" for="itemCheckinFormIntoInput">Checking into:</label>
				<select id="itemCheckinFormIntoInput" class="form-select" aria-describedby="itemCheckinFormIntoInputHelp" required>
				</select>
				<div id="itemCheckinFormIntoInputHelp" class="form-text">
					The storage block this item is being placed into.
				</div>
			</div>
			<div class="mb-3" id="itemCheckinFormLossReasonInputContainer">
				<label class="form-label" for="itemCheckinFormLossReasonInput">Loss reason:</label>
				<textarea id="itemCheckinFormLossReasonInput" class="form-control" aria-describedby="itemCheckinFormLossReasonInputHelp" rows="3"></textarea>
				<div id="itemCheckinFormLossReasonInputHelp" class="form-text">
					The storage block this item is being placed into.
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="itemCheckinFormReturnedInput">Returned:</label>
				<input type="datetime-local" id="itemCheckinFormReturnedInput" class="form-control" aria-describedby="itemCheckinFormReturnedInputHelp">
				<div id="itemCheckinFormReturnedInputHelp" class="form-text">
					When the item was checked back in.
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="itemCheckinFormNotesInput">Notes</label>
				<textarea class="form-control" id="itemCheckinFormNotesInput" rows="3"></textarea>
			</div>
			{#inputs/keywordInput}
			{/inputs/keywordInput}
			{#inputs/attInput}
			{/inputs/attInput}
		</form>
	</div>
	
	{#footerButtons}
		<div id="itemCheckinButtonContainer" class="">
			<button type="submit" form="itemCheckinForm" class="btn btn-success">{#icons/checkin}{/icons/checkin} Checkin</button>
		</div>
	{/footerButtons}
{/modal}