{#if parentBlocks.get("empty").asBoolean()}
	<h2>
		No Storage Blocks!
	</h2>
	<p>
		No storage blocks currently exist. Go to <a href="{rootPrefix}/storage">{#icons/storageBlocks /} Storage</a> to add a place where items are stored!
	</p>
	<p>
		You can then go to <a href="{rootPrefix}/items">{#icons/items /} Items</a> to add an item that is stored in that location!
	</p>
{#else}
	<div class="accordion" id="mainParentAccordion">
	{#for parent in parentBlocks.get("results")}
		{#let id=parent.get("id").asText()}
		<div class="accordion-item" id="accordItem{id}" data-storage-block-id="{id}">
		<h2 class="accordion-header" id="accordHeader{id}" onclick="overviewAccordionClicked('{id}', $(this).parent())">
			<button class="accordion-button collapsed thinAccordion" type="button" data-bs-toggle="collapse" data-bs-target="#accordCollapse{id}" aria-expanded="false" aria-controls="accordCollapse{id}">
				<img class="accordion-thumb" src="{rootPrefix}/api/passthrough/media/image/for/storageBlock/{id}" alt="">
				{parent.get("labelText").asText()}
			</button>
		</h2>
		<div id="accordCollapse{id}" class="accordion-collapse collapse" aria-labelledby="accordHeader{id}" data-bs-parent="#mainParentAccordion">
		<div class="accordion-body" id="accordContent{id}">
			Loading...
		</div>
		</div>
		</div>
	{/for}
	</div>
{/if}