{#modal id='itemCheckout' size='sm' title='Checkout Item'}
	<div class="row">
		<div class="col" id="itemCheckoutMessages">
		
		</div>
	</div>
	<div class="row">
		<div class="col" id="itemCheckoutItemStorageDetails">
		
		</div>
	</div>
	<div class="row">
		<div class="col" id="itemCheckoutStoredDetails">
		
		</div>
	</div>
	<hr />
	<div class="row">
		<form class="col" id="itemCheckoutForm" onsubmit="ItemCheckout.submitCheckout(e);">
		
		</form>
	</div>
	
	{#footerButtons}
		<div id="itemCheckoutButtonContainer" class="">
			<button type="submit" form="itemCheckoutForm" class="btn btn-success">{#icons/checkout}{/icons/checkout} Checkout</button>
		</div>
	{/footerButtons}
{/modal}