{#modal id='itemCheckoutView' size='xl' title='Item Checkout View'}
    {#titleIcon}{#icons/checkout}{/icons/checkout}{/titleIcon}
    <div class="row">
        <div class="col" id="itemCheckoutViewMessages"></div>
    </div>
<div class="row">
    <div class="col">
        <div class="row">
            <div class="card col-sm-12 col-md-6" id="itemCheckoutViewStatusLabelContainer">
                <div class="card-body">
                    <h5 class="card-title d-inline">{#icons/checkinout}{/icons/checkinout} Checkout status:</h5>
                    <p id="itemCheckoutViewStatusLabel" class="d-inline">
                    </p>
                </div>
            </div>
            <div class="card col-sm-12 col-md-6">
                <div class="card-body">
                    <h5 class="card-title d-inline">Id:</h5>
                    <p class="card-text d-inline">
                        <small>
                            <span id="itemCheckoutViewId"></span>{#copyTextButton textContainerId='itemCheckoutViewId'}{/copyTextButton}
                        </small>
                    </p>
                </div>
            </div>
            <div class="card col-sm-12 col-md-6">
                <div class="card-body">
                    <h5 class="card-title">{#icons/item}{/icons/item} Item:</h5>
                    <p id="itemCheckoutViewItemName" class="">
                    </p>
                </div>
            </div>
            <div class="card col-sm-12 col-md-6">
                <div class="card-body">
                    <h5 class="card-title">{#icons/storageBlock}{/icons/storageBlock} Checked out from:</h5>
                    <p id="itemCheckoutViewCheckedOutFromLabel" class="">
                    </p>
                </div>
            </div>
            <div class="card col-sm-12 col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Checked out by:</h5>
                    <p id="itemCheckoutViewCheckedOutByLabel" class="">
                    </p>
                </div>
            </div>
            <div class="card col-sm-12 col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Checked out For:</h5>
                    <p id="itemCheckoutViewCheckedOutForLabel" class="">
                    </p>
                </div>
            </div>
            <div class="card col-sm-12 col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Checked out on:</h5>
                    <p id="itemCheckoutViewCheckedOutOn" class="">
                    </p>
                </div>
            </div>
            <div class="card col-sm-12 col-md-6" id="itemCheckoutViewDueBackOnContainer">
                <div class="card-body">
                    <h5 class="card-title">Due back:</h5>
                    <p id="itemCheckoutViewDueBackOn" class="">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card col-12" id="itemCheckoutViewReasonContainer">
        <div class="card-body">
            <h5 class="card-title">Reason:</h5>
            <p id="itemCheckoutViewReason">
            </p>
        </div>
    </div>
    <div class="card col-12" id="itemCheckoutViewNotesContainer">
        <div class="card-body">
            <h5 class="card-title">Notes:</h5>
            <p id="itemCheckoutViewNotes">
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="card col-12">
        <div class="card-body">
            <h5 class="card-title">Checked out:</h5>
            <div id="itemCheckoutViewCheckedOut">
            </div>
        </div>
    </div>
</div>
<div class="row" id="itemCheckoutViewCheckinDetailsContainer">
    <div class="card col-12">
        <div class="card-body">
            <h3 class="card-title">
                {#icons/checkin}{/icons/checkin} Checkin Details:
            </h3>
            <div id="itemCheckoutViewCheckinDetailsReturnedContainer">
                Return
            </div>
            <div id="itemCheckoutViewCheckinDetailsLossContainer">
                Loss
            </div>
            <div class="row">
                {#carousel id='itemCheckoutViewCheckinDetailsCarousel' carouselCss='col'}{/carousel}
                <div class="col">
                    <div class="row">
                        <div class="card col-sm-12 col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">Checkin Time:</h5>
                                <p id="itemCheckoutViewCheckinDetailsTime" class="">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="itemCheckoutViewCheckinDetailsNotesContainer">
                <div class="card col-12">
                    <div class="card-body">
                        <h5 class="card-title">Notes:</h5>
                        <p id="itemCheckoutViewCheckinDetailsNotes" class="">
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                {#objView/objKeywordsView id='itemCheckoutViewCheckinDetailsKeywordsSection' classes='col'}{/objView/objKeywordsView}
                {#objView/objAttsView id='itemCheckoutViewCheckinDetailsAttsSection' classes='col'}{/objView/objAttsView}
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    {#objView/objKeywordsView id='itemCheckoutViewKeywordsSection' classes='col'}{/objView/objKeywordsView}
    {#objView/objAttsView id='itemCheckoutViewAttsSection' classes='col'}{/objView/objAttsView}
</div>
<div class="row">
    <div class="col">
        {#objView/history/objHistoryView containerId='itemCheckoutViewHistory' objectUrl='/api/v1/inventory/item-checkout/'}{/objView/history/objHistoryView}
    </div>
</div>
{/modal}