<div class="row">
	<div class="col" id="fileAttachmentAddEditFormMessages">
	</div>
</div>
<form id="fileAttachmentAddEditForm">
	<div class="row">
		<div class="col" id="">
			<div>
				<label for="fileAttachmentAddEditFormFileInput" class="form-label">File:</label>
				<input class="form-control form-control-lg" id="fileAttachmentAddEditFormFileInput" type="file" aria-describedby="fileAttachmentAddEditFormFileInputHelp">
				<div id="fileAttachmentAddEditFormFileInputHelp" class="form-text">The file attachment to add. Can drag and drop onto the input.</div>
			</div>
		</div>
	</div>
</form>