[Desktop Entry]
Name=Base Station - OQM
GenericName=Base Station - OQM

Comment=Quick link to open the Open QuarterMaster

Exec=bash -c 'xdg-open $(oqm-config g core.baseStation.externalBaseUri)'
Icon=/etc/oqm/static/media/core/base-station/core-base-station.svg
Terminal=false

Type=Application
Categories=Office;Database;Core
