# Service file for running an instance of Keycloak.
#  Author: Greg Stewart
#  https://www.freedesktop.org/software/systemd/man/systemd.service.html
#
#  Postgres tags: https://hub.docker.com/_/postgres/tags
#
#  https://www.docker.com/blog/how-to-use-the-postgres-docker-official-image/
#

[Unit]
Description=Postgres server for Open Quartermaster. Version ${version}, using Postgres tagged to "15".
Documentation=https://github.com/Epic-Breakfast-Productions/OpenQuarterMaster/tree/main/software/Infrastructure/postgresql
After=docker.service
Wants=network-online.target docker.socket
Requires=docker.socket

[Service]
Type=simple
Restart=always
TimeoutSec=10m
Environment="CONTAINER_NAME=oqm-infra-postgres"
Environment="IMAGE_NAME=docker.io/postgres"
Environment="IMAGE_VERSION=15"
Environment="ENV_CONFIG_FILE=/tmp/oqm/serviceConfig/infra/postgres/env.list"
Environment="DATA_DIR=/db/postgres"

ExecStartPre=/bin/bash -c "oqm-captain container ensure-setup"
#ExecStartPre=/bin/bash -c "/usr/bin/docker container inspect oqm_mongo 2> /dev/null || "
ExecStartPre=/bin/bash -c "/usr/bin/docker stop -t 10 $CONTAINER_NAME || echo 'Could not stop postgres container'"
ExecStartPre=/bin/bash -c "/usr/bin/docker rm $CONTAINER_NAME || echo 'Could not remove postgres container'"
ExecStartPre=/bin/bash -c "/usr/bin/docker pull $IMAGE_NAME:$IMAGE_VERSION || echo 'Could not pull postgres image.'"
# setup env list file
ExecStartPre=/bin/bash -c "mkdir -p /tmp/oqm/serviceConfig/infra/postgres"
ExecStartPre=/bin/bash -c "touch $ENV_CONFIG_FILE"
ExecStartPre=/bin/bash -c "chown oqm $ENV_CONFIG_FILE"
ExecStartPre=/bin/bash -c "chmod 600 $ENV_CONFIG_FILE"
ExecStartPre=/bin/bash -c "truncate -s 0 $ENV_CONFIG_FILE"
ExecStartPre=/bin/bash -c "printf \"POSTGRES_USER=$(oqm-config g 'infra.postgres.adminUser')\n\" >> $ENV_CONFIG_FILE"
ExecStartPre=/bin/bash -c "printf \"POSTGRES_PASSWORD=$(oqm-config g 'infra.postgres.adminPass')\n\" >> $ENV_CONFIG_FILE"
ExecStartPre=/bin/bash -c "mkdir -p $(oqm-config g 'system.dataDir')$DATA_DIR"
ExecStartPre=/bin/bash -c "chown -R oqm $(oqm-config g 'system.dataDir')$DATA_DIR"

ExecStart=/bin/bash -c "/usr/bin/docker run \
                                 --rm \
                                 --user $(id -u oqm):$(id -g oqm) --volume="/etc/group:/etc/group:ro" --volume="/etc/passwd:/etc/passwd:ro" --volume="/etc/shadow:/etc/shadow:ro" \
                                 --name $CONTAINER_NAME \
                                 --network=oqm-internal \
                                 --env-file $ENV_CONFIG_FILE \
                                 -v $(oqm-config g 'system.dataDir')$DATA_DIR:/var/lib/postgresql/data/ \
                                 --health-cmd=\"pg_isready\" \
                                 --health-interval=10s \
                                 --health-timeout=10s \
                                 --health-retries=5 \
                                 --health-start-period=20s \
                                 $IMAGE_NAME:$IMAGE_VERSION"
# Ensure is up, healthy
ExecStartPost=/bin/bash -c "running=\"false\"; \
                            while [ \"$running\" != \"true\" ]; do \
                                status=\"$(docker container inspect $CONTAINER_NAME -f {{.State.Health.Status}} 2> /dev/null)\"; \
                                if [ \"$status\" == \"healthy\" ]; then \
                                    echo \"Container running!\"; \
                                    running=\"true\"; \
                                    continue; \
                                fi; \
                                sleep 0.05s; \
                                if [ $SECONDS -gt 30 ]; then \
                                    echo \"Container not running after 30 seconds!\"; \
                                    exit 1; \
                                fi; \
                            done; \
                            "
#doublecheck admin creds
ExecStartPost=/bin/bash -c "running=\"false\"; \
                            sleep 10s; \
                            while [ \"$running\" != \"true\" ]; do \
                                sleep 1s; \
                                status=\"$(docker container inspect -f '{{.State.Running}}' $CONTAINER_NAME)\"; \
                                if [ \"$status\" != \"true\" ]; then \
                                    echo \"Container was stopped!\"; \
                                    exit 1; \
                                fi; \
                                /usr/bin/docker exec $CONTAINER_NAME psql postgres -U \"$(oqm-config g 'infra.postgres.adminUser')\" -tXAc \"SELECT 1\"; \
                                if [ \"$?\" = \"0\" ]; then \
                                    echo \"Postgres container running and available!\"; \
                                    running=\"true\"; \
                                fi \
                            done \
                            "

ExecStop=/bin/bash -c "/usr/bin/docker stop -t 10 $CONTAINER_NAME || echo 'Could not stop postgres container'"
ExecStopPost=/bin/bash -c "/usr/bin/docker rm $CONTAINER_NAME || echo 'Could not remove postgres container'"

[Install]
WantedBy=multi-user.target
