# Traefik static config
entryPoints:
  web:
    address: {{ infra.traefik.httpAddress }}
    asDefault: false
    forwardedHeaders:
      insecure: true
    http:
      redirections:
        entryPoint:
          to: secureWeb
          scheme: https
  secureWeb:
    address: {{ infra.traefik.httpsAddress }}
    asDefault: true
    http:
      tls: true
providers:
  file:
    directory: "/etc/traefik/dynamicConfig/"
api:
  insecure: {{ infra.traefik.managementPortEnabled }}
log:
  level: {{ infra.traefik.logLevel }}
ping: {}
{%- if cert.externalDefault == "acme" %}
certificatesResolvers:
  acmeResolver:
    acme:
      email: {{ cert.acme.contactEmail }}
      storage: /etc/traefik/acme/acme.json
      tlsChallenge: {}
{%- endif %}
