# Service file for running an instance of homepage.
#  Author: Greg Stewart
#  https://www.freedesktop.org/software/systemd/man/systemd.service.html
#
#  Homepage tags: https://github.com/gethomepage/homepage/pkgs/container/homepage
#

[Unit]
Description=Homepage server for Open Quartermaster. Version ${version}, using Homepage tagged to "v1.2".
Documentation=https://github.com/Epic-Breakfast-Productions/OpenQuarterMaster/tree/main/software/Infrastructure
After=docker.service
Wants=network-online.target docker.socket
Requires=docker.socket

[Service]
Type=simple
Restart=always
TimeoutSec=5m
Environment="CONTAINER_NAME=oqm-infra-homepage"
Environment="IMAGE_NAME=ghcr.io/gethomepage/homepage"
Environment="IMAGE_VERSION=v1.8"
Environment="ENV_CONFIG_FILE=/tmp/oqm/serviceConfig/infra/homepage/env.list"

ExecStartPre=/bin/bash -c "oqm-captain container ensure-setup"
ExecStartPre=/bin/bash -c "oqm-captain certs ensure-system-present"

ExecStartPre=/bin/bash -c "mkdir -p /tmp/oqm/serviceConfig/infra/homepage/config/"

ExecStartPre=/bin/bash -c "/usr/bin/docker stop -t 10 $CONTAINER_NAME || echo 'Could not stop homepage container'"
ExecStartPre=/bin/bash -c "/usr/bin/docker rm $CONTAINER_NAME || echo 'Could not remove homepage container'"
ExecStartPre=/bin/bash -c "/usr/bin/docker pull $IMAGE_NAME:$IMAGE_VERSION || echo 'Could not pull homepage image.'"
# setup env list file
ExecStartPre=/bin/bash -c "if [ -d \"/tmp/oqm/serviceConfig/infra/homepage/config\" ]; then rm -Rf /tmp/oqm/serviceConfig/infra/homepage/config; fi"
ExecStartPre=/bin/bash -c "mkdir -p /tmp/oqm/serviceConfig/infra/homepage/config/"
ExecStartPre=/bin/bash -c "/etc/oqm/static/infra/homepage/setup-homepage-config --update-config"

ExecStart=/bin/bash -c "/usr/bin/docker run \
                                 --rm \
                                 --name $CONTAINER_NAME \
                                 -e HOMEPAGE_ALLOWED_HOSTS=* \
                                 --network=oqm-internal \
                                 -v /etc/oqm/static/media/:/app/public/oqm/media:ro \
                                 -v /tmp/oqm/serviceConfig/infra/homepage/config/settings.yaml:/config/settings.yaml:ro \
                                 -v /tmp/oqm/serviceConfig/infra/homepage/config/bookmarks.yaml:/config/bookmarks.yaml:ro \
                                 -v /tmp/oqm/serviceConfig/infra/homepage/config/services.yaml:/config/services.yaml:ro \
                                 -v /tmp/oqm/serviceConfig/infra/homepage/config/widgets.yaml:/config/widgets.yaml:ro \
                                 $IMAGE_NAME:$IMAGE_VERSION"
# TODO:: meaningful healthcheck for startup

ExecStop=/bin/bash -c "/usr/bin/docker stop -t 10 $CONTAINER_NAME || echo 'Could not stop homepage container'"
ExecStopPost=/bin/bash -c "/usr/bin/docker rm $CONTAINER_NAME || echo 'Could not remove homepage container'"

[Install]
WantedBy=multi-user.target
