
title: Open Quartermaster
description: >
  {{infra.homepage.customization.description}}
  # TODO:: verify not breaking in multiline inputs from config
base: {{infra.homepage.externalBaseUri}}
startUrl: {{infra.homepage.externalBaseUri}}
favicon: #TODO
disableUpdateCheck: true
