

.paginationButton {
    /* border: 1px solid black; */
}

.numPerPageInput {
    width: 25px;
}

.imageViewImage {
    width: 500px;
}

.imageSearchResult:hover {
    box-shadow: 30px 30px 50px grey inset;
    cursor: pointer;
}

.img-75 {
  width: 375px;
}
.img-50 {
    width: 250px;
}
.img-25 {
    width: 125px;
}

.selectedImage {
    width: 75px;
}

.searchResultImageCol {
    width: 3em;
}

.searchResultImage {
    height: 3em;
}

.storageBlockResultRow{
    height: 3em;
}