# Service file for running an instance of Jaeger.
#  Author: Greg Stewart
#  https://www.freedesktop.org/software/systemd/man/systemd.service.html
#
#  Artemis tags: https://quay.io/repository/artemiscloud/activemq-artemis-broker
#
# TODO:: figure out better username/password situation

[Unit]
Description=ActiveMQ Artemis server for Open Quartermaster. Version ${version}, using Artemis tagged to "1".
Documentation=https://github.com/Epic-Breakfast-Productions/OpenQuarterMaster/tree/main/software/Infrastructure
After=docker.service
Wants=network-online.target docker.socket
Requires=docker.socket

[Service]
Type=simple
Restart=always
ExecStartPre=/bin/bash -c "/usr/bin/docker container inspect oqm_infra_artemis 2> /dev/null || /usr/bin/docker run --name oqm_infra_artemis -p 8095:8161 -p 61616:61616 -p 5672:5672 -e AMQ_USER=quarkus -e AMQ_PASSWORD=quarkus quay.io/artemiscloud/activemq-artemis-broker:1.0.11"
ExecStart=/usr/bin/docker start -a oqm_infra_artemis
ExecStop=/usr/bin/docker stop -t 10 oqm_infra_artemis

[Install]
WantedBy=multi-user.target
