{#include webui/mainWebPageTemplate navbar="full" showTitle=true title='Files' page='files'}
{#styleSheets}
<link rel="stylesheet" href="{rootPrefix}/lib/Croppie-2.6.4/croppie.css"/>
{/styleSheets}
{#pageStyle}

{/pageStyle}
{#pageContent}
<div class="row mb-2">
    <div class="col-6 d-grid gap-2 text-center">
        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                data-bs-target="#fileAttachmentAddEditModal" onclick="FileAttachmentAddEdit.setupForAdd();">
            {#icons/add /} Add File
        </button>
    </div>
</div>
<div class="row">
    <div class="col accordion" id="searchAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="searchHeader">
                <button class="accordion-button {#if !showSearch}collapsed{/if}" type="button" data-bs-toggle="collapse"
                        data-bs-target="#searchCollapse" aria-expanded="{#if showSearch}true{#else}false{/if}"
                        aria-controls="searchCollapse">
                    {#icons/search /}
                    Search Fields
                </button>
            </h2>
            <div id="searchCollapse" class="accordion-collapse collapse {#if showSearch}show{/if}"
                 aria-labelledby="searchHeader" data-bs-parent="#searchAccordion">
                <div class="accordion-body">
                    {#fileAttachment/fileAttachmentSearchForm id='fileAttachmentSearchForm' /}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col table-responsive">
        <table class=" table table-bordered table-striped table-hover table-sm">
			{#fileAttachment/fileAttachmentSearchResults searchResults=searchResults actionType='full' searchFormId='fileAttachmentSearchForm' /}
        </table>
    </div>
</div>
{/pageContent}
{#modals}
	{#fileAttachment/FileAttachmentAddEditModal}
	{/fileAttachment/FileAttachmentAddEditModal}
	{#fileAttachment/FileAttachmentViewModal}
	{/fileAttachment/FileAttachmentViewModal}

{/modals}
{#scripts}
    <script src="{rootPrefix}/lib/Croppie-2.6.4/croppie.min.js"></script>
{/scripts}
{#pageScript}
<script type="module">
	import { SearchUtils } from '{rootPrefix}/res/js/SearchUtils.js';
	import { FileAttachmentAddEdit } from '{rootPrefix}/res/js/obj/media/fileAttachment/FileAttachmentAddEdit.js';
	import { FileAttachmentView } from '{rootPrefix}/res/js/obj/media/fileAttachment/FileAttachmentView.js';
	
	SearchUtils.initPage();
	FileAttachmentAddEdit.initPage();
	
	window.FileAttachmentAddEdit = FileAttachmentAddEdit;
	window.FileAttachmentView = FileAttachmentView;

	console.log("Page modules loaded.");
</script>
{/pageScript}

{/include}