{#include webui/mainWebPageTemplate navbar="full" showTitle=true title="Item Checkout" page='itemCheckout'}
{#pageStyle}

{/pageStyle}
{#pageContent}
<div class="row">
	<div class="col accordion" id="searchAccordion">
		<div class="accordion-item">
			<h2 class="accordion-header" id="searchHeader">
			<button class="accordion-button {#if !showSearch}collapsed{/if}" type="button" data-bs-toggle="collapse"
				data-bs-target="#searchCollapse" aria-expanded="{#if showSearch}true{#else}false{/if}"
				aria-controls="searchCollapse">
				{#icons/search}{/icons/search} Search Fields
			</button>
			</h2>
			<div id="searchCollapse" class="accordion-collapse collapse {#if showSearch}show{/if}"
						 aria-labelledby="searchHeader" data-bs-parent="#searchAccordion">
				<div class="accordion-body">
					{#search/itemCheckout/searchForm id='mainPageSearch' rootPrefix=rootPrefix}
					{/search/itemCheckout/searchForm}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col table-responsive">
		<table class=" table table-bordered table-striped table-hover table-sm">
			{#search/itemCheckout/searchResults searchResults=searchResults actionType='full' searchFormId='mainPageSearch' showItem=true rootPrefix=rootPrefix}
			{/search/itemCheckout/searchResults}
		</table>
	</div>
</div>


{/pageContent}
{#modals}
	{#search/storage/searchSelectModal otherModalId="" rootPrefix=rootPrefix /}
	{#itemCheckout/viewModal /}
	{#search/item/itemSearchSelectModal otherModalId="" rootPrefix=rootPrefix allCategorySearchResults=allCategorySearchResults /}
	{#itemStored/transaction/checkinTransactionModal /}
	{#search/itemStored/itemStoredSearchSelectModal rootPrefix=rootPrefix /}
	{#search/image/imageSearchSelectModal otherModalId="addEditItemModal" rootPrefix=rootPrefix /}
	{#fileAttachment/FileAttachmentSearchSelectModal otherModalId="addEditItemModal" /}
	{#fileAttachment/FileAttachmentViewModal otherModalId='itemViewModal' /}
	
{/modals}
{#scripts}

{/scripts}
{#pageScript}
    <script type="module">
		import { SearchUtils } from '{rootPrefix}/res/js/SearchUtils.js';
		import { ItemSearchSelect } from '{rootPrefix}/res/js/obj/item/ItemSearchSelect.js';
		import { StorageSearchSelect } from '{rootPrefix}/res/js/obj/storageBlock/StorageSearchSelect.js';
		import { ItemStoredTransaction } from '{rootPrefix}/res/js/obj/itemStored/ItemStoredTransaction.js';
		
		ItemSearchSelect.initPage();
		SearchUtils.initPage();
		ItemStoredTransaction.initPage();
		StorageSearchSelect.initPage();
		
		window.ItemSearchSelect = ItemSearchSelect;
		window.StorageSearchSelect = StorageSearchSelect;
		
		console.log("Page modules loaded.");
    </script>
{/pageScript}
{/include}