# Service file for running an instance of MongoDB.
#  Author: Greg Stewart
#  https://www.freedesktop.org/software/systemd/man/systemd.service.html
#
#  Mongo tags: https://hub.docker.com/_/mongo?tab=tags
#

[Unit]
Description=Mongo server for Open Quartermaster. Version ${version}, using MongoDB tagged to "7".
Documentation=https://github.com/Epic-Breakfast-Productions/OpenQuarterMaster/tree/main/software/Infrastructure
After=docker.service
Wants=network-online.target docker.socket
Requires=docker.socket

[Service]
Type=simple
Restart=always
TimeoutSec=10m
Environment="CONTAINER_NAME=oqm-infra-mongo"
Environment="IMAGE_NAME=docker.io/mongo"
Environment="IMAGE_VERSION=7"
Environment="ENV_CONFIG_FILE=/tmp/oqm/serviceConfig/infra/mongodb/env.list"
Environment="DATA_DIR=/db/mongo"

ExecStartPre=/bin/bash -c "echo data dir: $(oqm-config g 'system.dataDir')$DATA_DIR"
ExecStartPre=/bin/bash -c "oqm-captain container ensure-setup"
#ExecStartPre=/bin/bash -c "/usr/bin/docker container inspect oqm_mongo 2> /dev/null || "
ExecStartPre=/bin/bash -c "/usr/bin/docker stop -t 10 $CONTAINER_NAME || echo 'Could not stop mongo container'"
ExecStartPre=/bin/bash -c "/usr/bin/docker rm $CONTAINER_NAME || echo 'Could not remove mongo container'"
ExecStartPre=/bin/bash -c "/usr/bin/docker pull $IMAGE_NAME:$IMAGE_VERSION || echo 'Could not pull image.'"
# setup env list file
ExecStartPre=/bin/bash -c "mkdir -p /tmp/oqm/serviceConfig/infra/mongodb"
ExecStartPre=/bin/bash -c "touch $ENV_CONFIG_FILE"
ExecStartPre=/bin/bash -c "chown oqm $ENV_CONFIG_FILE"
ExecStartPre=/bin/bash -c "chmod 600 $ENV_CONFIG_FILE"
ExecStartPre=/bin/bash -c "truncate -s 0 $ENV_CONFIG_FILE"
ExecStartPre=/bin/bash -c "printf \"MONGO_INITDB_ROOT_USERNAME=$(oqm-config g 'infra.mongodb.adminUser')\n\" >> $ENV_CONFIG_FILE"
ExecStartPre=/bin/bash -c "printf \"MONGO_INITDB_ROOT_PASSWORD=$(oqm-config g 'infra.mongodb.adminPass')\n\" >> $ENV_CONFIG_FILE"
#ExecStartPre=/bin/bash -c "printf printf \"%s\n\" \"$(oqm-config g 'infra.mongodb.keyFileContent' | base64)\""
ExecStartPre=/bin/bash -c "mkdir -p $(oqm-config g 'system.dataDir')$DATA_DIR"
ExecStartPre=/bin/bash -c "chown -R oqm $(oqm-config g 'system.dataDir')$DATA_DIR"
ExecStartPre=/bin/bash -c "touch $(oqm-config g 'system.dataDir')$DATA_DIR/keyfile"
ExecStartPre=/bin/bash -c "chown oqm $(oqm-config g 'system.dataDir')$DATA_DIR/keyfile"
ExecStartPre=/bin/bash -c "chmod 600 /data/oqm/db/mongo/keyfile"
ExecStartPre=/bin/bash -c "printf \"$(oqm-config g 'infra.mongodb.keyFileContent' | base64)\" > $(oqm-config g 'system.dataDir')$DATA_DIR/keyfile"

ExecStart=/bin/bash -c "/usr/bin/docker run \
                                 --rm \
                                 --user $(id -u oqm):$(id -g oqm) --volume="/etc/group:/etc/group:ro" --volume="/etc/passwd:/etc/passwd:ro" --volume="/etc/shadow:/etc/shadow:ro" \
                                 --name $CONTAINER_NAME \
                                 --network=oqm-internal \
                                 -v $(oqm-config g 'system.dataDir')$DATA_DIR/:/data/db  \
                                 --env-file $ENV_CONFIG_FILE \
                                 --health-cmd=\"mongosh --quiet --eval 'db.runCommand({ping: 1}).ok'\" \
                                 --health-interval=10s \
                                 --health-timeout=10s \
                                 --health-retries=5 \
                                 --health-start-period=20s \
                                 $IMAGE_NAME:$IMAGE_VERSION mongod --keyFile /data/db/keyfile --replSet rs0"
# Ensure is up, healthy
ExecStartPost=/bin/bash -c "running=\"false\"; \
                            while [ \"$running\" != \"true\" ]; do \
                                status=\"$(docker container inspect $CONTAINER_NAME -f {{.State.Health.Status}} 2> /dev/null)\"; \
                                if [ \"$status\" == \"healthy\" ]; then \
                                    echo \"Container running!\"; \
                                    running=\"true\"; \
                                    continue; \
                                fi; \
                                sleep 0.05s; \
                                if [ $SECONDS -gt 30 ]; then \
                                    echo \"Container not running after 30 seconds!\"; \
                                    exit 1; \
                                fi; \
                            done; \
                            "
ExecStartPost=/bin/bash -c "/usr/bin/docker exec $CONTAINER_NAME mongosh -u \"$(oqm-config g 'infra.mongodb.adminUser')\" -p \"$(oqm-config g 'infra.mongodb.adminPass')\" --eval \"rs.initiate({'_id':'rs0', 'members':[{'_id':0,'host':'localhost:27017'}]})\" || echo 'Probably already initialized.'"

ExecStop=/bin/bash -c "/usr/bin/docker stop -t 10 $CONTAINER_NAME || echo 'Could not stop mongo container'"
ExecStopPost=/bin/bash -c "/usr/bin/docker rm $CONTAINER_NAME || echo 'Could not remove mongo container'"

[Install]
WantedBy=multi-user.target
