[Desktop Entry]
Name=Grafana - OQM
GenericName=Grafana - OQM

Comment=View your OQM instance's Metrics

Exec=bash -c 'xdg-open $(oqm-config g metrics.otel-lgtm.externalBaseUri)'
Icon=/etc/oqm/static/media/oqm-icon.svg
Terminal=false

Type=Application
Categories=Office;Database;Core
