# Service file for running an instance of Keycloak.
#  Author: Greg Stewart
#  https://www.freedesktop.org/software/systemd/man/systemd.service.html
#
#  Keycloak tags: https://quay.io/repository/keycloak/keycloak?tab=tags
#
# - https://www.keycloak.org/server/containers
# - https://www.keycloak.org/getting-started/getting-started-docker
# - https://www.keycloak.org/server/db
#

[Unit]
Description=Keycloak config watcher for Open Quartermaster.
Documentation=https://github.com/Epic-Breakfast-Productions/OpenQuarterMaster/tree/main/software/Infrastructure
After=docker.service
Wants=network-online.target
Requires=docker.socket
Requires=oqm-infra-keycloak.service
After=oqm-infra-keycloak.service

[Service]
Type=simple
Restart=always
TimeoutSec=5m
ExecStart=/bin/bash -c "/etc/oqm/static/keycloak/kc-realm-manager monitor"

[Install]
WantedBy=multi-user.target
