{!
Template for the search form for storage blocks

Ingests:
- id - the id to give the form
!}

<form id="{id}" action="/images" method="get" class="pagingSearchForm">
    <div class="row">
        <div class="mb-3 col col-3">
            <label for="{id}-imageNameInput" class="form-label">Image name</label>
            <input type="text" class="form-control" name="label" id="{id}-imageNameInput"
                   aria-describedby="{id}-imageNameInputHelp">
            <div id="{id}-imageNameInputHelp" class="form-text">The name of the image to find.</div>
        </div>
    </div>
    <div class="row">
        <div class="col col-2 text-center">
            <button type="submit" class="btn btn-info mb-1"><i class="fas fa-search"></i> Search</button>
            <button type="reset" class="btn btn-warning mb-1">Reset</button>
        </div>
        <div class="col col-2">
            <input type="hidden" id="{id}-pageNumInput" name="pageNum" value="1">
            <div class="input-group" title="Number of results per page">
                <label for="{id}-pageSizeInput" class="input-group-text"><i class="fas fa-hashtag"></i></label>
                <input type="number" class="form-control numPerPageInput" name="pageSize" id="{id}-pageSizeInput" aria-describedby="{id}-pageSizeInputHelp" placeholder="36" onchange="resetToOne('{id}-pageNumInput');" value="36"  min="1">
            </div>
        </div>
    </div>
</form>
