{@com.ebp.openQuarterMaster.baseStation.service.mongo.search.SearchResult<com.ebp.openQuarterMaster.lib.core.media.Image> searchResults}
{@com.ebp.openQuarterMaster.baseStation.service.mongo.search.PagingCalculations pagingCalculations}
{!
  Template to show storage search results. Gives the contents of a table, but not the main table tag

  Ingests:
  - actionType - the action to take. "full" or "select"
  - searchResults
  - searchFormId - the id of the search form controlling the results
  - inputIdPrepend - the prepend for the id of the inputs to set the data of
  - otherModalId - the id of the other modal to open when selected

  if `actionType` is "select", callback will be "selectStorageBlock('<block name>', '<block id>', '<inputIdPrepend>')" on the select button
!}
<div class="row">
  <div class="col text-center m-1">
    {#paginationButtons searchFormId=searchFormId pagingCalculations=pagingCalculations}{/paginationButtons}
  </div>
</div>
<div class="row">
  {#if searchResults.getResults().isEmpty()}
  <div class="col d-grid gap-2 text-center">
    <h2>
      No Images found.
    </h2>
    {#if actionType == 'full'}
    <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal"
            data-bs-target="#addEditModal" onclick="setupAddEditForAdd();"><i
            class="fas fa-plus"></i> Add Image
    </button>
    {/if}
  </div>
  {#else}
  {#for result in searchResults.getResults()}
    <div class="col col-3 card mb-1 imageSearchResult" {#if actionType == 'select'}{#else}data-bs-toggle="modal" data-bs-target="#viewModal" onclick="setupViewForImage('{result.getId()}')"{/if}>
      <img src="/api/media/image/{result.getId()}/data" class="card-img-top img-thumbnail" alt="{result.getTitle()}">
      <div class="card-body">
        <h5 class="card-title">{result.getTitle()}</h5>
        {#if result.getDescription() != null && !result.getDescription().isBlank() }
        <p class="card-text">{result.getDescription()}</p>
        {/if}
      </div>
    </div>
  {/for}
  {/if}
</div>
<div class="row">
  <div class="col text-center m-1">
    {#paginationButtons searchFormId=searchFormId pagingCalculations=pagingCalculations}{/paginationButtons}
  </div>
</div>
