{#modal id='itemStoredAddSubTrans' size='xl' title='Add, Subtract, Transfer Item' submitForm='itemStoredAddSubTransForm' submitDismiss=false}
	{#titleIcon}{#icons/addSubTrans}{/icons/addSubTrans}{/titleIcon}
	<form id="itemStoredAddSubTransForm">
		<input type="hidden" name="itemId" />
		<input type="hidden" name="itemStorageType" />
		<div class="row">
			<div class="col" id="">
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h2>
					<img src="" id="itemStoredAddSubTransFormItemImg" style="max-width: 100px; vertical-align:middle;">
					<span  id="itemStoredAddSubTransFormItemNameLabel"></span>
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<label for="itemStoredAddSubTransFormOpSelect" class="form-label">Action:</label>
				<select id="itemStoredAddSubTransFormOpSelect" class="form-select" aria-label="Action to take" onchange="setupAddSubTransFormFromToControls();">
					<option value="add" selected>Add</option>
					<option value="subtract">Subtract</option>
					<option value="transfer">Transfer</option>
				</select>
			</div>
			<div class="col">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="itemStoredAddSubTransFormToFRomStoredCheckbox">
					<label class="form-check-label" for="itemStoredAddSubTransFormToFRomStoredCheckbox">
					To/From existing stored
					</label>
				</div>
			</div>
		</div>
		<hr />
		<div id="itemStoredAddSubTransFormToSelectContainer">
			<div class="row">
				<div class="col" id="itemStoredAddSubTransFormFromSelectContainer">
					<label for="itemStoredAddSubTransFormFromSelect" class="form-label">From:</label>
					<select id="itemStoredAddSubTransFormFromSelect" class="form-select" aria-label="Storage block to take from">
					</select>
				</div>
			</div>
			<div class="row">
			
			</div>
			<hr />
		</div>
		<div id="itemStoredAddSubTransFormToSelectContainer">
			<div class="row">
				<div class="col">
					<label for="itemStoredAddSubTransFormToSelect" class="form-label">To:</label>
					<select id="itemStoredAddSubTransFormToSelect" class="form-select" aria-label="Storage block to add to">
					</select>
				</div>
			</div>
			<div class="row">
			
			</div>
			<hr />
		</div>
	</form>
{/modal}