{@org.bson.types.ObjectId entityRef}
{#let entity = cdi:InteractingEntityService.get(entityRef)}
<a href="/entityView/{entity.getId()}" class="text-decoration-none entityViewLink" target="_blank">
	<span class="entityViewSymbol">
		{#switch entity.getInteractingEntityType()}
			{#case USER}
				{#icons/user}{/icons/user}
			{#case SERVICE_GENERAL}
				{#icons/extService}{/icons/extService}
			{#case SERVICE_PLUGIN}
				{#icons/extService}{/icons/extService}
			{#case BASE_STATION}
				{#icons/baseStation}{/icons/baseStation}
		{/switch}
	</span>
	<span class="entityViewName">
		{entity.getName()}
	</span>
	{#icons/newTab}{/icons/newTab}
</a>
{/let}