{!{@org.bson.types.ObjectId entityRef}!}
{!{#let entity = cdi:InteractingEntityService.get(entityRef)}!}
<a href="{rootPrefix}/interactingEntity?view={entityRef.get("id").asText()}" class="text-decoration-none entityViewLink" target="_blank">
	<span class="entityViewSymbol">
		{#icons/interactingEntityType type=entityRef.get("type").asText()}{/icons/interactingEntityType}
	</span>
	<span class="entityViewName">
		{entityRef.get("name").asText()}
	</span>
	{#icons/newTab}{/icons/newTab}
</a>
{!{/let}!}