{#modal id='addEditItem' size='xl' title='Item add/edit' submitDismiss=false}
    {#footerButtons}
    <button class="btn btn-success" id="addEditItemFormSubmitButton" type="submit" form="addEditItemForm">
        Submit
    </button>
    {/footerButtons}

    <div class="row">
        <div class="col" id="addEditItemFormMessages">
        </div>
    </div>
    {#if config:['quarkus.rest-client.externalItemSearch.url'] != " "}
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary mb-1" onclick="ExtItemSearch.toggleAddEditProductSearchPane();" title="Search for Products">
                {#icons/search}{/icons/search} Search for Products
            </button>
        </div>
    </div>
    {/if}
    <div class="row">
        <div class="col-md-6 card p-0" id="addEditProductSearchPane">
            <div class="card-header">
                Search for items:
            </div>
            <div class="card-body p-0 h-auto">
                <ul class="nav nav-tabs" id="extItemSearchTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="extItemSearch-product-tab" data-bs-toggle="tab" data-bs-target="#extItemSearch-product-content" type="button" role="tab" aria-controls="extItemSearch-product-content" aria-selected="true">Product</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="extItemSearch-lego-tab" data-bs-toggle="tab" data-bs-target="#extItemSearch-lego-content" type="button" role="tab" aria-controls="extItemSearch-lego-content" aria-selected="false">Lego&trade;</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="extItemSearch-website-tab" data-bs-toggle="tab" data-bs-target="#extItemSearch-website-contenr" type="button" role="tab" aria-controls="extItemSearch-website-contenr" aria-selected="false">Website</button>
                    </li>
                </ul>
                <div class="tab-content p-1" id="searchTabContent">
                    <div class="tab-pane fade show active" id="extItemSearch-product-content" role="tabpanel" aria-labelledby="extItemSearch-product-tab">
                        <form id="prodBarcodeSearchForm">
                            <div class="mb-3">
                                <label for="prodBarcodeSearchBarcodeInput" class="form-label">Search with Barcode</label>
                                {#inputs/barcodeInput id='prodBarcodeSearchBarcodeInput' searchSubmit=true /}
                                <div id="barcodeInputHelp" class="form-text">Scan in or enter a barcode on a product.</div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="extItemSearch-lego-content" role="tabpanel" aria-labelledby="extItemSearch-lego-tab">
                        <form id="legoPartNumSearchForm">
                            <div class="mb-3">
                                <label for="legoPartNumSearchInput" class="form-label">Search with Lego&trade; part number</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="legoPartNumSearchInput" aria-describedby="legoPartNumInputHelp" required>
                                    <button class="btn btn-success" type="submit">Search</button>
                                </div>
                                <div id="legoPartNumInputHelp" class="form-text">Most legos have a number on them, it's that parts numbers.</div>
                            </div>
                        </form>
                        <div id="legoPartNumSearchFormMessages">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="extItemSearch-website-contenr" role="tabpanel" aria-labelledby="extItemSearch-website-tab">
                        <form id="websiteScanSearchForm">
                            <div class="mb-3">
                                <label for="websiteScanSearchInput" class="form-label">Scan a website</label>
                                <div class="input-group">
                                    <input type="url" class="form-control" id="websiteScanSearchInput" aria-describedby="websiteScanInputHelp" required>
                                    <button class="btn btn-success" type="submit">Search</button>
                                </div>
                                <div id="websiteScanInputHelp" class="form-text">Very limited number of supported sites.</div>
                            </div>
                        </form>
                        <div id="websiteScanSearchFormMessages">
                        </div>
                    </div>
                </div>
            </div>
            <div id="extItemSearchSearchFormMessages">
            </div>
            <div class="card-header">
                Search Results:
            </div>
            <div class="card-body h-100 row" id="extSearchResults">
            </div>
        </div>
        <div class="col">
            <form id="addEditItemForm">
                <input type="hidden" id="addEditItemFormMode" value="">
                <input type="hidden" id="addEditItemIdInput" value="">
                <div class="mb-3 row">
                    <label for="addEditItemNameInput" class="col-sm-2 col-form-label">
                    	Name:
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="addEditItemNameInput" placeholder="Name" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="addEditItemStorageTypeInput" class="col-sm-2 col-form-label">
                    	Storage Type:
                    </label>
                    <div class="col-sm-10">
                        <select class="form-select form-select-lg" id="addEditItemStorageTypeInput" data-current="BULK" onchange="ItemAddEdit.addEditStoredTypeInputChanged()" aria-describedby="addEditItemStorageTypeHelp">
                            <option value="BULK" selected>Bulk</option>
                            <option value="AMOUNT_LIST">Amount List</option>
                            <option value="UNIQUE_MULTI">Unique - Multi</option>
                            <option value="UNIQUE_SINGLE">Unique - Single</option>
                        </select>
                        <div id="addEditItemStorageTypeHelp" class="form-text">
                            For details on each type of storage, see <a href="{rootPrefix}/help#items" target="_blank">{#icons/help /} Help</a><br />
                            This cannot be changed after item creation.
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="addEditItemDescriptionInput" class="col-sm-2 col-form-label">
                    	Description:
                    </label>
                    <div class="col-sm-10">
                    	<div id="addEditItemDescriptionInput" data-ot-placeholder="Description"></div>
                    </div>
                </div>
                <div class="mb-3 row" id="addEditItemUnitNameRow">
                    <label for="addEditItemUnitInput" class="col-sm-2 col-form-label">
                    	{#icons/units /} Unit:
                    </label>
                    <div class="col-sm-10">
                        <select class="form-select dselect-select" id="addEditItemUnitInput" aria-describedby="addEditItemUnitInputHelp">
                            {#inputs/units/unitOptionsGroups allUnitMap=allUnitMap /}
                        </select>
                        <div id="addEditItemUnitInputHelp" class="form-text">
                            This cannot be changed to an incompatible unit after item creation.<br />
                            For details on the units and what are available, see <a href="{rootPrefix}/help#units" target="_blank">{#icons/help /} Help</a>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="addEditItemCategoriesInput" class="col-form-label col-sm-2">
                    	{#icons/categories /} Categories:
                    </label>
                    <div class="col-sm-10">
                        {#inputs/categoryInput id="addEditItemCategoriesInput" allCategorySearchResults=allCategorySearchResults multi=true /}
                    </div>
                </div>
                <hr />
                <div class="mb-3 row">
                    <div class="col-sm-2 col-form-label">
                    	{#icons/storageBlocks /}
                        Associated Storage:
                    </div>
                    <div class="col-sm-10">
                        <div class="row mt-2" id="addEditItemAssociatedStorageInputContainer">
                        </div>
                        <div class="col d-grid gap-2 mt-3">
                            <button type="button" class="btn btn-sm btn-success mt-2" id="addEditItemAssociatedStorageAddButton" data-bs-toggle="modal" data-bs-target="#storageSearchSelectModal" onclick="StorageSearchSelect.storageSearchSelectForm.submit();">
                                {#icons/add}{/icons/add} Add Associated Storage
                            </button>
                            <div class="form-text">
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="mb-5 row">
                    <label for="addEditItemGeneralIdInput" class="col-form-label col-sm-2">
                    	{#icons/generalIds /}
                    	General Identifiers:
                    </label>
                    <div class="col-sm-10">
                        {#inputs/identifiers/generalIdInput id="addEditItemGeneralIdInput" /}
                    </div>
                </div>
                <div class="mb-5 row">
                    <label for="addEditItemUniqueIdInput" class="col-form-label col-sm-2">
                    	{#icons/uniqueIds /}
                    	Unique Identifiers:
                    </label>
                    <div class="col-sm-10">
                        {#inputs/identifiers/uniqueIdInput id="addEditItemUniqueIdInput" /}
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="addEditItemUniqueIdInput" class="col-form-label col-sm-2">
                    	{#icons/idGenerators /}
                    	Associated ID Generators:
                    </label>
                    <div class="col-sm-10">
                        {#inputs/identifiers/associatedIdGeneratorInput forObject="STORED" id=(id + "-item") /}
                    </div>
                </div>
                <hr />
                
                <div class="mb-3 row" id="addEditItemExpiryWarningThresholdRow">
                    <label for="addEditItemExpiryWarningThresholdInput" class="col-sm-2 col-form-label">
                    	Expiry Warning Threshold:
                    </label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="number" min="0" class="form-control" id="addEditItemExpiryWarningThresholdInput" placeholder="Expiry Warning Threshold" required value="0" aria-describedby="addEditExpiryWarningThresholdHelp">
                            <select class="form-select" style="max-width: 10em;" id="addEditItemExpiryWarningThresholdUnitInput">
                                <!-- The values here represent the multiplier to make the equivalent number of seconds for each -->
                                <option value="1">Seconds*</option>
                                <option value="60">Minutes*</option>
                                <option value="3600" selected>Hours</option>
                                <option value="86400">Days</option>
                                <option value="604800">Weeks</option>
                            </select>
                        </div>
                        <div id="addEditExpiryWarningThresholdHelp" class="form-text">
                            How many time units before expiration dates to warn of imminent expiration. 0 for no warning.<br />
                            * = Depending on server settings, you might not get an accurate warning with a short warning period.
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="addEditItemTotalLowStockThresholdInput" class="col-sm-2 col-form-label">
                    	Total Low Stock Threshold:
                    </label>
                    <div class="col-sm-10">
                        <div class="input-group mt-2 mb-3">
                            <input type="number" class="form-control amountStoredValueInput" id="addEditItemTotalLowStockThresholdInput" placeholder="Value" min="0.00" step="any">
                            <select class="form-select amountStoredUnitInput unitInput" id="addEditItemTotalLowStockThresholdUnitInput">
                            </select>
                        </div>
                        <div id="addEditTotalLowStockThresholdHelp" class="form-text">
                            The lowest amount to be stored before being marked as low on stock. Leave blank for no threshold.
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <label for="addEditItemPricingInput" class="col-form-label col-sm-2">
                    	{#icons/pricing /}
                    	Default Pricing:
                    </label>
                    <div class="col-sm-10">
                        {#inputs/pricing/pricingInput id='addEditItemPricingInput' /}
                        <div class="form-text">
                            These prices are automatically counted for all stored items. To override, set the price in the individual stored.
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <label for="addEditItemDefaultStoredLabelInput" class="col-form-label col-sm-2">
                    	Default Stored Label Format:
                    </label>
                    <div class="col-sm-10">
                    	<input type="text" class="form-control" id="addEditItemDefaultStoredLabelInput" placeholder="Default Stored Label" aria-describedby="addEditItemDefaultStoredLabelInputHelp" />
                        <div class="form-text" id="addEditItemDefaultStoredLabelInputHelp">
                            This label format is used when stored items aren't supplied with their own.
                            <button class="btn btn-link btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#addEditItemDefaultStoredLabelInputHelpCollapse" aria-expanded="false" aria-controls="addEditItemDefaultStoredLabelInputHelpCollapse">
                              {#icons/info /}
                            </button>
                            <div class="collapse" id="addEditItemDefaultStoredLabelInputHelpCollapse">
							  <h4>Stored Label Formatting:</h4>
							  <p>
							    You can specify any label format you like to stored items, and include from a selection of different dynamic inclusions. Leave blank for default label format.
							  </p>
							  <p>
								  This is used mostly in stored search results. The goal is to help differentiate between stored items in that search. An example would be for an item that
								  is a particular shirt print design, you could differentiate between shirt sizes.
							  </p>
							  <h5>
							  Examples:
							  </h5>
							  <ul>
								  <li>
									  <code class="user-select-all">\{id}</code> {#icons/arrowRight /} <code>69685a30ed9db4170b717e10</code> (the id of the stored item)
								  </li>
								  <li>
									  <code class="user-select-all">\{amt} - \{id}</code> {#icons/arrowRight /} <code>1 units - 69685a30ed9db4170b717e10</code>
								  </li>
								  <li>
									  <code class="user-select-all">Size: \{att;size}</code> {#icons/arrowRight /} <code>Size: L</code> (for a stored item with a <code>size</code> attribute of <code>L</code>)
								  </li>
								  <li>
									  <code class="user-select-all">Expires: \{exp;LLL/yyyy}</code> {#icons/arrowRight /} <code>Expires: Jul/2024</code> (for a stored item with an expiration date in July 2024)
								  </li>
							  </ul>
							  <h5>
							    Format placeholders:
							  </h5>
							  <ul>
							      <li>
							          Id: <code class="user-select-all">\{id;number of digits, startting from the end (optional)}</code> - The ID of the stored object. Parameter to specify the number of characters to actually
							          display. Defaults to full Id.
							      </li>
							      <li>
							          Amount: <code class="user-select-all">\{amt}</code> - Use the stored amount. Defaults to "1 units" for unique stored.
							      </li>
							      <li>
							          Condition: <code class="user-select-all">\{cnd}</code> - Use the condition as a percentage.
							      </li>
							      <li>
									  Expiration: <code class="user-select-all">\{exp;datetime format}</code> - Writes out the expiration for this stored. Format should match standard <a href="https://www.digitalocean.com/community/tutorials/java-simpledateformat-java-date-format#patterns" target="_blank">Java datetime syntax</a>. Default format is <code>MM/dd/yyyy</code>
							      </li>
							      <li>
							          General Id: <code class="user-select-all">\{gid;name of general identifier}</code> - Use a general identifier value.
							      </li>
							      <li>
							          Unique Id: <code class="user-select-all">\{uid;name of unique identifier}</code> - Use a unique identifier value.
							      </li>
							      <li>
							          Price: <code class="user-select-all">\{price;name of calculated price}</code> - Use a price value. Does not include price label.
							      </li>
							      <li>
							          Attribute: <code class="user-select-all">\{att;key for attribute}</code> - Use an attribute value.
							      </li>
							  </ul>
							</div>
                        </div>
                    </div>
                </div>
                
                {!<div class="mb-3 row">!} {!TODO:: 460 !}
                    {!<label class="col-sm-2 col-form-label">Not Stored</label>!}
                    {!<div class="col-sm-10">!}
                        {!<div>!}
							{!<input class="form-check-input" type="checkbox" value="" id="addEditItemNotStoredCheck" aria-describedby="addEditItemNotStoredCheckHelp" onchange="ItemAddEdit.updateItemNotStored()">!}
							{!<label class="form-check-label" for="addEditItemNotStoredCheck">!}
								{!Have unstored items!}
							{!</label>!}
							{!<div id="addEditItemNotStoredCheckHelp" class="form-text">!}
								{!Check this to specify items you have, but aren't stored in any particular location. To specify items stored somewhere, hit the "Add Associated Storage" below.!}
							{!</div>!}
                        {!</div>!}
                        {!<div id="addEditItemNotStoredInputContainer">!}
						{!</div>!}
                    {!</div>!}
                {!</div>!}
                {!<hr />!}
                {!<div class="mb-3 row">!}
                    {!<div class="col-sm-2 col-form-label">Stored</div>!}
                    {!<div class="col-sm-10">!}
                        {!<div class="accordion mt-2" id="addEditItemStoredContainer">!}
                {!!}
                        {!</div>!}
                        {!<div class="col d-grid gap-2 mt-3">!}
                            {!<button type="button" class="btn btn-sm btn-success mt-2" data-bs-toggle="modal" data-bs-target="#storageSearchSelectModal" onclick="StorageSearchSelect.storageSearchSelectForm.submit();">!}
                                {!{#icons/add}{/icons/add} Add Associated Storage!}
                            {!</button>!}
                        {!</div>!}
                    {!</div>!}
                {!</div>!}
                <hr />
                {#search/image/imageSelectFormInput /}
                {#fileAttachment/fileAttachmentSelectFormInput /}
                {#inputs/keywordInput /}
                {#inputs/attInput /}
            </form>
        </div>
    </div>

{/modal}