{!
Template for the search form for storage blocks

Ingests:
- id - the id of the modal, will be formatted as <id>Modal
- otherModalId - the id of another modal to go to , formatted as <id>Modal . Optional.
- title - the title to give the modal
- large - if to make the modal large format
!}
<div class="modal fade" id="{id}Modal" data-bs-backdrop="static" aria-hidden="true" aria-labelledby="{id}ModalLabelAll" tabindex="-1" data-bs-inputIdPrepend="" data-bs-otherModalId="{#if otherModalId??}{otherModalId}{/if}">
    <div class="modal-dialog {#if size??}modal-{size}{/if}">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{id}ModalLabelAll">
                    <span id="{id}ModalLabelIcon" class="modalTitleIcon">{#insert titleIcon /}</span>
                    <span id="{id}ModalLabel" class="modalTitleText">{#if title??}{title.raw()}{/if}</span>
                </h5>
                <button id="{id}ModalLabelCloseButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" {#if otherModalId??}data-bs-target="#{otherModalId}" data-bs-toggle="modal"{/if}></button>
            </div>
            <div class="modal-body">
                {nested-content}
            </div>
            <div class="modal-footer">
                {#if submitForm??}
                    <button class="btn btn-success" type="submit" form="{submitForm}" {#if submitDismiss}{#if otherModalId??}data-bs-target="#{otherModalId}" data-bs-toggle="modal"{#else} data-bs-dismiss="modal"{/if}{/if}>Submit</button>
                {/if}
                {#insert footerButtons}{/}
                {!<button class="btn btn-warning" {#if otherModalId??}data-bs-target="#{otherModalId}" data-bs-toggle="modal"{#else} data-bs-dismiss="modal"{/if}>Back</button>!}
            </div>
        </div>
    </div>
</div>