<div class="col-3">
	<div class="card">
		<div class="card-header">
			<a href="{providerInfo.get("homepage").asText()}" target="_blank">
				{providerInfo.get("displayName").asText()}
			</a>
		</div>
		<ul class="list-group list-group-flush">
			{#if ! providerInfo.get("cost").asText().isBlank()}
				<li class="list-group-item" style="display: flex; justify-content: space-between;">
					<span>{#icons/icon icon = 'cash-stack' /} {providerInfo.get("cost").asText()}</span>
					<span>
						{#if providerInfo.get("enabled").asBoolean()}
							{#icons/icon icon = 'check-circle' /} Enabled
						{#else}
							{#icons/icon icon = 'x-circle' /} Disabled
						{/if}
					</span>
				</li>
			{/if}
			<li class="list-group-item">
				{#if providerInfo.get("acceptsContributions").asBoolean()}
					{#icons/icon icon = 'globe' /} Accepts contributions
				{#else}
					{#icons/icon icon = 'slash-circle' /} No community input
				{/if}
			</li>
			<li class="list-group-item">
				Supported search methods: <br />
				{#for method in providerInfo.get("lookupMethods")}
					<span class="badge text-bg-secondary">{method.asText()}</span>
				{/for}
			</li>
			{#if ! providerInfo.get("description").asText().isBlank()}
				<li class="list-group-item">{providerInfo.get("description").asText()}</li>
			{/if}
		</ul>
	</div>
</div>