<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/lib/bootstrap/bootstrap-5.1.3-dist/bootswatch.litera.min.css" rel="stylesheet">
    <link href="/res/css/main.css" rel="stylesheet">

    <title>Open QuarterMaster</title>
</head>
<body>
<h1>
    {config:['service.nameFull']}
</h1>
<ul>
    <li><a href="/openapi-ui/index.html">OpenAPI</a></li>
    <li><a href="/q/health-ui/index.html">Health UI</a></li>
    <li><a href="/q/dev/">Dev UI</a></li>
</ul>

{#if hasToken}
Had token! Username: {username}
<button type="button" id="logoutButton">Submit</button>
{#else}
Did not have token.
<br/>
Input a token:
<input type="text" id="token">
<button type="button" id="submitButton">Submit</button>
{/if}


<script src="/lib/jquery-3.6.0/jquery.min.js"></script>
<script src="/lib/bootstrap/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
<script src="/lib/js-cookie-3.0.1/js.cookie.min.js"></script>
<script>
    $("#submitButton").click(function(){
        Cookies.set("jwt",$("#token").val);
        location.reload();
    });
    $("#logoutButton").click(function(){
        Cookies.remove("jwt");
        location.reload();
    });

</script>

</body>
</html>
