<html lang="en" data-bs-theme="dark">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="shortcut icon" href="/favicon.ico"/>
	<title>{#if title??}{title} - {/if}{config:['service.nameFull']}</title>
	
	<!-- CSS -->
	<link href="/lib/bootstrap/5.3.0/bootswatch.yeti.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/lib/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="/lib/spin.js/spin.css">
	<link rel="stylesheet" href="/lib/dselect/1.0.4/dist/css/dselect.min.css">
	<link rel="stylesheet" href="/res/css/bootstrap-adjust.css">
	<link rel="stylesheet" href="/res/css/main.css">
	{#insert styleSheets}{/}
	<style>
		{#insert pageStyle} /* No page css */
		{/}
	</style>
</head>
<body class="min-vh-100 vstack">


</body>
</html>