{#switch page}
	{#case 'overview'}
		{#icons/overView /}
	{#case 'storage'}
		{#icons/storageBlocks /}
	{#case 'item'}
		{#icons/item /}
	{#case 'items'}
		{#icons/items /}
	{#case 'images'}
		{#icons/images /}
	{#case 'files'}
		{#icons/fileAttachments /}
	{#case 'itemLists'}
		{#icons/itemLists /}
	{#case 'codes'}
		{#icons/qr /}
	{#case 'help'}
		{#icons/help /}
	{#case 'accountCreate'}
		{#icons/addUser /}
	{#case 'inventoryAdmin'}
		{#icons/inventoryAdmin /}
	{#case 'inventoryAdmin'}
		{#icons/inventoryAdmin /}
	{#case 'itemCheckout'}
		{#icons/itemCheckouts /}
	{#case 'userAdmin'}
		{#icons/userAdmin /}
	{#case 'user'}
		{#icons/you /}
	{#case 'categories'}
		{#icons/categories /}
	{#case 'idGenerators'}
		{#icons/idGenerators /}
{/switch}