{#switch page}
	{#case 'overview'}
		{#icons/overView}{/icons/overView}
	{#case 'storage'}
		{#icons/storageBlocks}{/icons/storageBlocks}
	{#case 'item'}
		{#icons/item}{/icons/item}
	{#case 'items'}
		{#icons/items}{/icons/items}
	{#case 'images'}
		{#icons/images}{/icons/images}
	{#case 'files'}
		{#icons/fileAttachments}{/icons/fileAttachments}
	{#case 'itemLists'}
		{#icons/itemLists}{/icons/itemLists}
	{#case 'codes'}
		{#icons/qr}{/icons/qr}
	{#case 'help'}
		{#icons/help}{/icons/help}
	{#case 'accountCreate'}
		{#icons/addUser}{/icons/addUser}
	{#case 'inventoryAdmin'}
		{#icons/inventoryAdmin}{/icons/inventoryAdmin}
	{#case 'inventoryAdmin'}
		{#icons/inventoryAdmin}{/icons/inventoryAdmin}
	{#case 'itemCheckout'}
		{#icons/checkinout}{/icons/checkinout}
	{#case 'userAdmin'}
		{#icons/userAdmin}{/icons/userAdmin}
	{#case 'user'}
		{#icons/you}{/icons/you}
	{#case 'categories'}
		{#icons/categories}{/icons/categories}
	{#case 'uniqueIdGenerators'}
		{#icons/uniqueIdGenerators /}
{/switch}