# Service file for running an instance of the Open QuarterMaster Base Station.
#  Author: Greg Stewart
#  https://www.freedesktop.org/software/systemd/man/systemd.service.html
#
#  OQM Base Station tags: https://hub.docker.com/repository/docker/ebprod/open-qm-base-station/tags
#
[Unit]
Description=Open QuarterMaster Base Station server for Open Quartermaster. Version ${version}.
Documentation=https://github.com/Epic-Breakfast-Productions/OpenQuarterMaster/tree/main/software/open-qm-base-station
After=docker.service
Wants=network-online.target
Wants=oqm-infra-kafka_red_panda.service
Requires=docker.socket
Requires=oqm-infra-mongodb.service
After=oqm-infra-mongodb.service
Requires=oqm-infra-keycloak.service
After=oqm-infra-keycloak.service

[Service]
Type=simple
Restart=always
TimeoutSec=10m
# Setup operating variables
Environment="CONTAINER_NAME=oqm-core-api"
Environment="IMAGE_NAME=ebprod/oqm-core-api"
Environment="IMAGE_VERSION=${version}"
Environment="MAIN_CONFIG_FILE_TEMPLATE=/etc/oqm/serviceConfig/core/api/core-api-config.list"
Environment="MAIN_CONFIG_FILE=/tmp/oqm/serviceConfig/core/api/core-api-config.list"
Environment="USER_CONFIG_FILE_TEMPLATE=/etc/oqm/serviceConfig/core/api/user-config.list"
Environment="USER_CONFIG_FILE=/tmp/oqm/serviceConfig/core/api/user-config.list"

ExecStartPre=/bin/bash -c "oqm-captain container ensure-setup"
ExecStartPre=/bin/bash -c "oqm-captain certs ensure-system-present"
# Ensure previous runs gone
ExecStartPre=/bin/bash -c "/usr/bin/docker stop -t 10 $CONTAINER_NAME || echo 'Could not stop core api container'"
ExecStartPre=/bin/bash -c "/usr/bin/docker rm $CONTAINER_NAME || echo 'Could not remove core api container'"
ExecStartPre=/bin/bash -c "/etc/oqm/accountScripts/mongo-assert-account.sh -u \"$(oqm-config g 'core.api.mongodb.user')\" -p \"$(oqm-config g 'core.api.mongodb.pass')\" -d \"$(oqm-config g 'core.api.mongodb.database')\""
ExecStartPre=/bin/bash -c "oqm-captain certs write-internal $CONTAINER_NAME /etc/oqm/serviceConfig/core/api/files/"
ExecStartPre=/bin/bash -c "cp \"$(oqm-config g cert.selfSigned.certs.CARootCert)\" /etc/oqm/serviceConfig/core/api/files/systemCA.crt"

# Create filled out configuration
ExecStartPre=/bin/bash -c "mkdir -p /tmp/oqm/serviceConfig/core/api/"
ExecStartPre=/bin/bash -c "/usr/bin/oqm-config t $MAIN_CONFIG_FILE_TEMPLATE > $MAIN_CONFIG_FILE"
ExecStartPre=/bin/bash -c "chmod 600 $MAIN_CONFIG_FILE"
ExecStartPre=/bin/bash -c "/usr/bin/oqm-config t $USER_CONFIG_FILE_TEMPLATE > $USER_CONFIG_FILE"
ExecStartPre=/bin/bash -c "chmod 600 $USER_CONFIG_FILE"

# Pull image as separate task
ExecStartPre=/bin/bash -c "/usr/bin/docker pull $IMAGE_NAME:$IMAGE_VERSION || echo 'Could not pull image.'"
# Run Base Station
ExecStart=/bin/bash -c "/usr/bin/docker run --rm --name $CONTAINER_NAME \
                                        --network=oqm-internal \
                                        -v /etc/oqm/certs/trustStores:/etc/oqm/certs/trustStores:ro \
                                        -v /etc/oqm/serviceConfig/core/api/files:/etc/oqm/serviceConfig/core/api/files:ro \
                                        --add-host $(oqm-config g system.hostname):host-gateway \
                                        --env-file $MAIN_CONFIG_FILE \
                                        --env-file $USER_CONFIG_FILE \
                                        $IMAGE_NAME:$IMAGE_VERSION"
# Ensure is up, healthy
ExecStartPost=/bin/bash -c "running=\"false\"; \
                            while [ \"$running\" != \"true\" ]; do \
                                status=\"$(docker container inspect $CONTAINER_NAME -f {{.State.Health.Status}} 2> /dev/null)\"; \
                                if [ \"$status\" == \"healthy\" ]; then \
                                    echo \"Container running!\"; \
                                    running=\"true\"; \
                                    continue; \
                                fi; \
                                sleep 0.05s; \
                                if [ $SECONDS -gt 30 ]; then \
                                    echo \"Container not running after 30 seconds!\"; \
                                    exit 1; \
                                fi; \
                            done; \
                            "
# Remove from docker
ExecStop=/bin/bash -c "/usr/bin/docker stop -t 10 $CONTAINER_NAME || echo 'Could not stop core api container'"
ExecStopPost=/bin/bash -c "/usr/bin/docker rm $CONTAINER_NAME || echo 'Could not remove core api container'"

[Install]
WantedBy=multi-user.target
