<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Redirecting...</title>
	<link rel="stylesheet" href="/lib/bootstrap/5.3.0/bootswatch.yeti.min.css">
	<script src="/lib/js-cookie/3.0.5/js.cookie.min.js"></script>
	<script type="text/javascript">
		/**
		 * Script to handle theme changing. At top in order to prevent flashing
		 */
		(() => {
			'use strict'

			const getStoredTheme = () => localStorage.getItem('theme');

			const getPreferredTheme = () => {
				const storedTheme = getStoredTheme();
				if (storedTheme) {
					return storedTheme;
				}
				return "auto";
				// return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
			}

			const setTheme = theme => {
				console.log("Setting theme to " + theme);
				if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
					document.documentElement.setAttribute('data-bs-theme', 'dark');
				} else {
					document.documentElement.setAttribute('data-bs-theme', theme);
				}
			}

			setTheme(getPreferredTheme());
		})()
		
		function submitForm() {
			document.getElementById("redirectForm").submit();
		}

		function handleLoad() {
			{#insert extraJs}{/}

			submitForm();
		}
	</script>
</head>
<body onload="handleLoad()">
<form id="redirectForm" action="{#insert redirectTo}/{/}" method="get">
	<h1>
		Redirecting...
		<div class="spinner-border" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</h1>
	<button type="submit" class="btn btn-link">
		Click here if the redirection does not happen quickly
	</button>
	<input type="hidden" name="messageType" value="{messageType}">
	<input type="hidden" name="messageHeading" value="{messageHeading}">
	<input type="hidden" name="message" value="{message}">
	{#if additionalQueries??}
		{#for query in additionalQueries}
			<input type="hidden" name="{query.key()}" value="{query.value()}">
		{/for}
	{/if}
</form>
</body>
</html>